<%- include('../../../../components/header.ejs') %>
  <div class="ashe-environment">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/page-views/product/environment/banner2.jpg) no-repeat center center;background-size:cover"></div>
        <!-- <img class="banner-img-mobile" src="/static/assets/page-views/train/train-list/banner-m.png"> -->
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/train/technical-train"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <div class="content-main">
        <div class="wrapper">
          <div class="principle">
            <p class="title"><%= principle_title_one %><span><%= principle_title_two %></span></p>
            <p class="shuiyin">PRINCIPLE</p>
            <p class="brief"><%= principle_brief %></p>
            <div class="item">
              <img src="/static/assets/page-views/product/environment/icon1.png">
              <p class="rule"><%= rule_one %></p>
              <p class="line"></p>
              <p class="introductoin"><%= introductoin_one %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/environment/icon2.png">
              <p class="rule"><%= rule_two %></p>
              <p class="line"></p>
              <p class="introductoin"><%= introductoin_two %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/environment/icon3.png">
              <p class="rule"><%= rule_three %></p>
              <p class="line"></p>
              <p class="introductoin"><%= introductoin_three %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/environment/icon4.png">
              <p class="rule"><%= rule_four %></p>
              <p class="line"></p>
              <p class="introductoin"><%= introductoin_four %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/environment/icon5.png">
              <p class="rule"><%= rule_five %></p>
              <p class="line"></p>
              <p class="introductoin"><%= introductoin_five %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/environment/icon6.png">
              <p class="rule"><%= rule_six %></p>
              <p class="line"></p>
              <p class="introductoin"><%= introductoin_six %></p>
            </div>
          </div>
          <div class="architecture">
            <p class="title"><%= architecture_title_one %><span><%= architecture_title_two %></span></p>
            <p class="shuiyin">ARCHITECTURE</p>
            <p class="brief"><%= architecture_brief %></p>
            <img src="/static/assets/page-views/product/environment/framework@v2.0.png" alt="基础环境建设物理架构">
          </div>
          <div class="resolute-plan">
            <p class="title"><%= resolute_title_one %><span><%= resolute_title_two %></span></p>
            <p class="shuiyin">ARCHITECTURE</p>
            <img class="cabinet" src="/static/assets/page-views/product/environment/2.png" alt="模块化数据中心解决方案">
          </div>
        </div>
        <div class="modularity">
          <div class="center">
            <div class="item">
              <p class="modularity_title_mobile"><%= modularity_title_one %></p>
              <img class="bg-click" src="/static/assets/page-views/product/environment/11.png">
              <p class="modularity_title"><%= modularity_title_one %></p>
              <div class="modularity_intro">
                <div class="left">
                  <p><%= modularity_single_left_one %></p>
                  <p><%= modularity_single_left_two %></p>
                  <p><%= modularity_single_left_three %></p>
                  <p><%= modularity_single_left_four %></p>
                </div>
                <div class="right">
                  <p><%= modularity_single_right_one %></p>
                  <p><%= modularity_single_right_two %></p>
                  <p><%= modularity_single_right_three %></p>
                  <p><%= modularity_single_right_four %></p>
                </div>
              </div>
            </div>
            <div class="item">
              <p class="modularity_title_mobile"><%= modularity_title_two %></p>
              <img class="bg-click2" src="/static/assets/page-views/product/environment/12.png">
              <p class="modularity_title"><%= modularity_title_two %></p>
              <div class="modularity_intro">
                <div class="left">
                  <p><%= modularity_multi_left_one %></p>
                  <p><%= modularity_multi_left_two %></p>
                  <p><%= modularity_multi_left_three %></p>
                  <p><%= modularity_multi_left_four %></p>
                </div>
                <div class="right">
                  <p><%= modularity_multi_right_one %></p>
                  <p><%= modularity_multi_right_two %></p>
                  <p><%= modularity_multi_right_three %></p>
                  <p><%= modularity_multi_right_four %></p>
                </div>
              </div>
            </div>
            <div class="item">
              <p class="modularity_title_mobile"><%= modularity_title_three %></p>
              <img class="bg-click3" src="/static/assets/page-views/product/environment/13.png">
              <p class="modularity_title"><%= modularity_title_three %></p>
              <div class="modularity_intro">
                <div class="left">
                  <p><%= modularity_modular_left_one %></p>
                  <p><%= modularity_modular_left_two %></p>
                  <p><%= modularity_modular_left_three %></p>
                  <p><%= modularity_modular_left_four %></p>
                </div>
                <div class="right">
                  <p><%= modularity_modular_right_one %></p>
                  <p><%= modularity_modular_right_two %></p>
                  <p><%= modularity_modular_right_three %></p>
                  <p><%= modularity_modular_right_four %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-framework">
        <img id="img" src="/static/assets/page-views/product/environment/bg_framework1.png">
      </div>
      <div class="bg-framework2">
        <img id="img" src="/static/assets/page-views/product/environment/bg_framework2.png">
      </div>
      <div class="bg-framework3">
        <img id="img" src="/static/assets/page-views/product/environment/bg_framework3.png">
      </div>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>