<%- include('../../../../components/header.ejs') %>
  <div class="volcano-uos-enterprise">
    <article >
      <div id="page">
        <!-- banner -->
        <section class="content-banner">
          <div class="wraper">
            <div class="volcano-common-content">
            <img src="/static/assets/page-views/product/uos-enterprise/bannerpic@v2.0.png">
              <div class="word">
                <div class="word-brief"><%= banner_brief %></div>
                <div class="word-brief-mobile"><%= banner_brief_mobile %></div>
                <div class="word-describe"><%= banner_describe %></div>
              </div>
              <ul class="breadcrumb">
                <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
                <li class="second"><a class="success" href="/product/uos-enterprise"><%= breadcrumb_two %>&nbsp;/&nbsp;</a></li>
                <li class="third">UOS Enterprise</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="content-main">
          <div class="enterprise_feature">
            <div class="inner">
              <img class="flag" src="/static/assets/page-views/product/uos-enterprise/logo@v2.0.png">
              <p class="title">UOS Enterprise </p>
              <div class="feature">
               <div class="line"></div>
                <div class="item network">
                  <img class="feature_logo" src="/static/assets/page-views/product/uos-enterprise/feature_1@v2.0.png">
                  <p class="intro"><%= feature_one_brief %></p>
                  <p class="brief"><%= feature_one_intro %></p>
                </div>
                <div class="line"></div>
                <div class="item volume">
                  <img class="feature_logo" src="/static/assets/page-views/product/uos-enterprise/feature_2@v2.0.png">
                  <p class="intro"><%= feature_two_brief %></p>
                  <p class="brief"><%= feature_two_intro %></p>
                </div>
                <div class="line"></div>
                <div class="item storage">
                  <img class="feature_logo" src="/static/assets/page-views/product/uos-enterprise/feature_3@v2.0.png">
                  <p class="intro"><%= feature_three_brief %></p>
                  <p class="brief"><%= feature_three_intro %></p>
                </div>
                <div class="line"></div>
                <div class="item instance">
                  <img class="feature_logo" src="/static/assets/page-views/product/uos-enterprise/feature_4@v2.0.png">
                  <p class="intro"><%= feature_four_brief %></p>
                  <p class="brief"><%= feature_four_intro %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="enterprise_show">
            <div class="inner">
              <div class="item">
                <div class="show-content">
                  <div class="left"></div>
                  <div class="right">
                    <p class="intro"><%= show_one_intro %></p>
                    <p class="introduction"><%= show_one_introduction %></p>
                  </div>
                </div>
              </div>
              <div class="item">
              <div class="show-content">
                <div class="left"></div>
                <div class="right">
                  <p class="intro"><%= show_two_intro %></p>
                  <p class="introduction"><%= show_two_introduction %></p>
                </div>
              </div>
              </div>
              <div class="item">
                <div class="show-content">
                  <div class="left"></div>
                  <div class="right">
                    <p class="intro"><%= show_three_intro %></p>
                    <p class="introduction"><%= show_three_introduction %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="enterprise_solve">
            <div class="inner">
              <p class="title"><%= solve_title %></p>
              <div class="item first_item">
                <img src="/static/assets/page-views/product/uos-enterprise/resolve_1@v2.0.png">
                <p class="intro"><%= solve_one_intro %></p>
                <div class="introduction">
                  <p><%= solve_one_introduction %></p>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/page-views/product/uos-enterprise/resolve_2@v2.0.png">
                <p class="intro"><%= solve_two_intro %></p>
                <div class="introduction">
                  <p><%= solve_two_introduction %></p>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/page-views/product/uos-enterprise/resolve_3@v2.0.png">
                <p class="intro"><%= solve_three_intro %></p>
                <div class="introduction">
                  <p><%= solve_three_introduction %></p>
                </div>
              </div>
              <div class="item">
                <img src="/static/assets/page-views/product/uos-enterprise/resolve_4@v2.0.png">
                <p class="intro"><%= solve_four_intro %></p>
                <div class="introduction">
                  <p><%= solve_four_introduction %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="enterprise_framework">
            <div class="inner">
              <div class="name"><%= framework %></div>
              <img src="/static/assets/page-views/product/uos-enterprise/framework@v2.0.png">
            </div>
          </div>
        </section>
      </div>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>