<%- include('../../../../../components/header.ejs') %>
  <div class="ashe-platform-manager">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <img class="banner-img" src="/static/assets/page-views/product/cloud-platform/manager/banner.png">
        <img class="banner-img-mobile" src="/static/assets/page-views/product/cloud-platform/manager/banner-m.png">
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <div class="content-main">
        <div class="part-one">
          <p class="shuiyin">MANAGER</p>
          <p class="title"><%= manager_title_one %><span><%= manager_title_two %></span></p>
          <div class="feature">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/manager/1.png">
              <p class="item_title"><%= manager_feature_title_one %></p>
              <p class="item_intro"><%= manager_feature_intro_one %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/manager/2.png">
              <p class="item_title"><%= manager_feature_title_two %></p>
              <p class="item_intro"><%= manager_feature_intro_two %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/manager/3.png">
              <p class="item_title"><%= manager_feature_title_three %></p>
              <p class="item_intro"><%= manager_feature_intro_three %></p>
            </div>
          </div>
          <div class="function">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/manager/4.png">
              <p class="line"></p>
              <p class="item-title">多平台支持</p>
              <p class="item-intro">同时支持 OpenStack 和 Ceph 等开源平台。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/manager/5.png">
              <p class="line"></p>
              <p class="item-title">统一账号管理</p>
              <p class="item-intro">通过 Keystone 对多平台做统一账号管理。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/manager/6.png">
              <p class="line"></p>
              <p class="item-title">多级审批</p>
              <p class="item-intro">自定义多级审批，满足企业流程需求。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/manager/7.png">
              <p class="line"></p>
              <p class="item-title">工单系统</p>
              <p class="item-intro">有效管理，维护和追踪问题和请求。</p>
            </div>
          </div>
        </div>
        <div class="part-two">
          <div class="part-two-center">
            <p class="shuiyin">PAIN POINT</p>
            <p class="title"><%= partner_title_one %><span><%= partner_title_two %></span></p>
            <div class="list-item">
              <div class="list-title">扩展</div>
              <div class="list-intro">模块化机构，支持插件，方便快速扩展，轻松解决定制化开发难题。</div>
            </div>
            <div class="list-item">
              <div class="list-title">易用</div>
              <div class="list-intro">深入理解OpenStack功能操作，精心设计，简化操作，让用户快速上手OpenStack。</div>
            </div>
            <div class="list-item">
              <div class="list-title">性能</div>
              <div class="list-intro">SPA架构，极致的性能优化，流畅的用户体验。</div>
            </div>
          </div>
        </div>
        <div class="framework">
          <img src="/static/assets/page-views/product/cloud-platform/manager/framework.png">
        </div>
      </div>
    </article>
  </div>
<%- include('../../../../../components/footer.ejs') %>