<%- include('../../../../../components/header.ejs') %>
  <div class="ashe-platform-enterprise">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <img class="banner-img" src="/static/assets/page-views/product/cloud-platform/enterprise/banner.png">
        <img class="banner-img-mobile" src="/static/assets/page-views/product/cloud-platform/enterprise/banner-m.png">
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <div class="content-main">
        <div class="part-one">
          <p class="shuiyin">ENTERPRISE</p>
          <p class="title"><%= enterprise_title_one %><span><%= enterprise_title_two %></span></p>
          <div class="feature">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/enterprise/1.png">
              <p class="item_title"><%= enterprise_feature_title_one %></p>
              <p class="item_intro"><%= enterprise_feature_intro_one %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/enterprise/2.png">
              <p class="item_title"><%= enterprise_feature_title_two %></p>
              <p class="item_intro"><%= enterprise_feature_intro_two %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/enterprise/3.png">
              <p class="item_title"><%= enterprise_feature_title_three %></p>
              <p class="item_intro"><%= enterprise_feature_intro_three %></p>
            </div>
          </div>
          <div class="function">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/enterprise/4.png">
              <p class="line"></p>
              <p class="item-title">网络</p>
              <p class="item-intro">完全隔离的二层虚拟网络，路由器端口映射，支持防火墙，负载均衡等。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/enterprise/5.png">
              <p class="line"></p>
              <p class="item-title">云硬盘</p>
              <p class="item-intro">稳定的I/O表现，客服业务尖峰，高性能、SLA 保证，秒级备份恢复。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/enterprise/6.png">
              <p class="line"></p>
              <p class="item-title">对象存储</p>
              <p class="item-intro">海量数据，弹性扩容，支持多种访问协议。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/enterprise/7.png">
              <p class="line"></p>
              <p class="item-title">云主机</p>
              <p class="item-intro">秒级部署，在线迁移，VNC 管理，多 Hypervisor 支持。</p>
            </div>
          </div>
        </div>
        <div class="part-two">
          <div class="part-two-center">
            <p class="shuiyin">PAIN POINT</p>
            <p class="title"><%= partner_title_one %><span><%= partner_title_two %></span></p>
            <div class="list-item">
              <div class="list-title">迅速高效</div>
              <div class="list-intro">使私有数据中心拥有大型共有云的能力，使您拥有7X24小时运维，分布式架构和高效与透明的上云体验。</div>
            </div>
            <div class="list-item">
              <div class="list-title">超长维护</div>
              <div class="list-intro">提供长期支持和维护，持续修复社区潜在功能，性能缺陷，保障产品的稳定性、可扩展性。</div>
            </div>
            <div class="list-item">
              <div class="list-title">完全开发</div>
              <div class="list-intro">使基于OpenStack社区Newton版本，100%与社区API兼容，避免厂商锁定。</div>
            </div>
            <div class="list-item">
              <div class="list-title">完美整合</div>
              <div class="list-intro">同方云Enterprise不仅仅提供IaaS平台，还融合多种PaaS平台，解决客户业务层面的需求。</div>
            </div>
          </div>
        </div>
        <div class="framework">
          <img src="/static/assets/page-views/product/cloud-platform/enterprise/framework.png">
        </div>
      </div>
    </article>
  </div>
<%- include('../../../../../components/footer.ejs') %>