<%- include('../../../../components/header.ejs') %>
  <div class="ashe-big-data">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/page-views/product/big-data/banner2.jpg) no-repeat center center;background-size:cover"></div>
        <!-- <img class="banner-img-mobile" src="/static/assets/page-views/product/big-data/banner-m.png"> -->
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <div class="content-main">
        <div class="part-one">
          <p class="shuiyin">Big DATA</p>
          <p class="title"><%= data_title_one %><span><%= data_title_two %></span></p>
          <p class="brief"><%= data_intro %></p>
          <div class="feature">
            <div class="item">
              <img src="/static/assets/page-views/product/big-data/icon1@v2.0.png">
              <p class="item_title"><%= data_feature_title_one %></p>
              <p class="item_intro"><%= data_feature_intro_one %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/big-data/icon2@v2.0.png">
              <p class="item_title"><%= data_feature_title_two %></p>
              <p class="item_intro"><%= data_feature_intro_two %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/big-data/icon3@v2.0.png">
              <p class="item_title"><%= data_feature_title_three %></p>
              <p class="item_intro"><%=data_feature_intro_three %></p>
            </div>
          </div>
        </div>
        <div class="part-two">
          <p class="platform-title"><%= platform_title_one %><span>OpenStack</span><%= platform_title_two %><span>Hadoop</span><%= platform_title_three %></p>
          <p class="platform-intro"><%= platform_intro_one %></p>
          <p class="platform-intro"><%= platform_intro_two %></p>
          <p class="platform-intro"><%= platform_intro_three %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework1.png" alt="OpenStack与Hadoop统一平台" >
          </div>
          <p class="platform-title"><%= case_title_one %><span>OpenStack</span><%= case_title_two %><span>Hadoop</span><%= case_title_three %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework2@v2.0.png" alt="OpenStack与Hadoop整合方案">
          </div>
          <!-- <p class="platform-title"><%= logic_title_one %><span><%= logic_title_two %></span></p>
          <p class="platform-intro"><%= logic_intro_one %></p>
          <p class="platform-intro"><%= logic_intro_two %></p>
          <p class="platform-intro"><%= logic_intro_three %></p>
          <p class="platform-intro"><%= logic_intro_four %></p>
          <p class="platform-intro"><%= logic_intro_five %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework3.png">
          </div>
          <p class="platform-title"><%= deploy_title_one %><span><%= deploy_title_two %></span></p>
          <p class="platform-intro"><%= deploy_intro_one %></p>
          <p class="platform-intro"><%= deploy_intro_two %></p>
          <p class="platform-intro"><%= deploy_intro_three %></p>
          <p class="platform-intro"><%= deploy_intro_four %></p>
          <p class="platform-intro"><%= deploy_intro_five %></p>
          <p class="platform-intro"><%= deploy_intro_six %></p>
          <p class="platform-intro"><%= deploy_intro_seven %></p>
          <p class="platform-intro"><%= deploy_intro_eight %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework4.png">
          </div>
          <p class="platform-title"><%= architecture_title_one %><span><%= architecture_title_two %></span></p>
          <p class="platform-intro"><%= architecture_intro %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework5.png">
          </div>
          <p class="platform-title"><%= dispose_title_one %><span><%= dispose_title_two %></span></p>
          <p class="platform-intro"><%= dispose_intro %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework6.png">
          </div>
          <p class="platform-title"><%= execute_title_one %><span><%= execute_title_two %></span></p>
          <p class="platform-intro"><%= execute_intro %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework7.png">
          </div>
          <p class="platform-title"><%= network_title_one %><span><%= network_title_two %></span></p>
          <p class="platform-intro"><%= network_intro %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework8.png">
          </div>
          <p class="platform-title"><%= compute_title_one %><span><%= compute_title_two %></span></p>
          <p class="platform-intro"><%= compute_intro %></p>
          <div class="framework">
            <img src="/static/assets/page-views/product/big-data/framework9.png">
          </div> -->
        </div>
      </div>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>