<%- include('../../../../components/header.ejs') %>
  <div class="investor">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper"> 
          <div class="volcano-common-content">
          <img src="/static/assets/page-views/about/investor/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/about/milestones"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
              <li class="third"><%= breadcrumb_three %></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- main content -->
      <section class="content-main">
        <div class="wraper">
          <div class="volcano-common-content">
            <div class="cisco stream">
              <img class="photo" src="/static/assets/page-views/about/investor/cisco-logo.png" alt="Cisco">
              <p class="line"></p>
              <div class="company"><%= cisco_company %></div>
              <div class="brief"><%= cisco_brief %></div>
            </div>
            <div class="idg stream">
              <img class="photo" src="/static/assets/page-views/about/investor/igd-logo.png" alt="igd">
              <p class="line"></p>
              <div class="company"><%= idg_company %></div>
              <div class="brief"><%= idg_brief %></div>
            </div>
            <div class="sequoia stream">
              <img class="photo" src="/static/assets/page-views/about/investor/sequoia_capital2.png" alt="sequoia">
              <p class="line"></p>
              <div class="company"><%= sequoia_company %></div>
              <div class="brief">
                <p><%= sequoia_briefone %></p>
                <p style="padding-top:20px"><%= sequoia_brieftwo %></p>
              </div>
            </div>
            <div class="chinarock stream">
              <img class="photo" src="/static/assets/page-views/about/investor/huayanlogo.jpg" alt="chinarock">
              <p class="line"></p>
              <div class="company"><%= chinarock_company %></div>
              <div class="brief"><%= chinarock_brief %></div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>