<%- include('../../../../components/header.ejs') %>
  <div class="volcano-private-apply">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
          <img src="/static/assets/page-views/private-cloud/private-apply/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/private-cloud/private-service"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/private-cloud/private-service"><%= breadcrumb_three %></a>&nbsp;/&nbsp;</li>
              <li class="third"><%= breadcrumb_four %></li>
            </ul>
            </div>
        </div>
      </section>
      <!-- end for banner -->
      <!-- content -->
      <section class="content-main">
        <div class="inner">
        <div class="title">
          <p><%= apply_data %></p>
        </div>
          <div class="circle">
              <label for="name"><span class="icon icon-user"></span><%= name_small %><em><%= name_tip %></em></label>
              <span class="logo"></span>
              <input class="regname" type="text" name="name">
            </div>
            <div class="circle tel">
              <label for="name"><span class="icon icon-tel"></span><%= tel_small %><em><%= tel_tip %></em></label>
              <span class="logo"></span>
              <input type="text" name="name" class="regtel">
            </div>
            <div class="circle email">
              <label for="name"><span class="icon icon-eemail"></span><%= email_small %><em><%= email_tip %></em></label>
              <span class="logo"></span>
              <input type="text" name="name" class="regemail">
            </div>
            <div class="circle company">
              <label for="name"><span class="icon icon-myhome"></span><%= company_small %><em><%= company_tip %></em></label>
              <span class="logo"></span>
              <input type="text" name="name" class="reghome">
            </div>
            <div class="title use">
              <p><%= use %></p>
            </div>
            <div class="btn">
              <div class="yes button"><input type="button" ><label class="one"><%= yes %></label></div>
              <div class="no button"><input type="button" ><label class="two"><%= no %></label></div>
            </div>
            <div class="summarize">
              <div class="appraise">
                <div class="topic"><%= topic %></div>
                <div class="star">
                  <span><%= star_response %></span>
                  <ul class="comment-star seconds">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                </div>
                <div class="star">
                  <span><%= star_features %></span>
                   <ul class="comment-star total">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                </div>
                <div class="star">
                  <span><%= star_performance %></span>
                   <ul class="comment-star nature">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                </div>
                <div class="star">
                  <span><%= star_stability %></span>
                   <ul class="comment-star terrace">
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                    <li class="icon-star"></li>
                  </ul>
                </div>
              </div>
              <div class="demand">
                <textarea class="remark" name="remark" id="" cols="30" rows="7" placeholder="更多需求说明"></textarea>
              </div>
            </div>
            <div class="tip">
              <div class="over connect">您的申请已提交，我们会尽快和您联系。</div>
              <div class="none connect"></div>
            </div>
            <div class="sub">
              <input class="submit" type="submit" value="申请UOS托管云服务" >
            </div>
        </div>
      </section>
    </article>
<%- include('../../../../components/footer.ejs') %>