<%- include('../../../../../components/header.ejs') %>
<div class="product-hardware">
  <article>
    <section class="content-banner">
      <div class="type-area">
        <div class="banner">
          <div class="banner-title"><%= banner_title %></div>
          <div class="banner-brief"><%= banner_brief %></div>
          <div class="banner-describe"><%= banner_describe %></div>
          <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
        </div>
      </div>
      <div class="banner-img" style="background:url(/static/assets/page-views/product/hardware/enterprise-storage/banner2.jpg) no-repeat center center;background-size:cover"></div>
    </section>
    <div class="breadcrumb">
      <ul class="breadcrumb-center">
        <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
        <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
        <li class="third"><%= breadcrumb_three %></li>
      </ul>
    </div>
    <div class="first-block">
      <div class="bg-size">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/enterprise-storage/1.jpg" alt="超强MD3800i企业级存储"/>
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/enterprise-storage/mobile_7.png" alt="超强MD3800i企业级存储"/>
          <div class="title-bg">
            <div class="title-left">
              <span>超强MD3800i企业级存储</span>
              <div class="intro">
                高性能 高效率
                用途广 易管理
              </div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/yellow.png"/>
                <span>灵活的扩展能力</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>散热器及电源的协同优化，具有更好的散热能力和静音能力</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>借助加 速器和GPU，大幅提高HPC、VDI和成像环境的性能</span>
              </div>
              <div class="body-img" style="margin-top: 40px">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/green.png"/>
                <span>稳定可靠</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>帮助客户构造和管理适用于数据中心，高效基础架构</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>保证了强大的扩展能力，使主板的每个扩展插槽均能够安装全高扩展卡</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>宽裕的空间使部件排布更从容，更合理，具有更好的稳定性</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>兼容老式 PCI 板卡的同 时，保障客户后期应用扩展能力</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue_1.png"/>
                <span>自主可控</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>数字供电控制提供最佳 的供电效率</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>精准的转换减少浪费，并带来更稳定电压</span>
              </div>
              <div class="body-img"  style="margin-top: 40px">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/color.png"/>
                <span>高速网络</span>
              </div>
              <div class="body-content content-color">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>数据传输更快速。非常适合于虚拟化应用</span>
              </div>
              <div class="body-content content-color">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>提供高网 络连接带宽、负载平衡以及容错功能</span>
              </div>
              <div class="body-content content-color">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>提供资源丰富的虚拟化环境</span>
              </div>
              <div class="body-content content-color">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/enterprise-storage/blue.png"/>
                <span>适合作为一款用于统一通信和协作(UC&C)的Microsoft® SharePoint®和Exchange®服务器，可高效的横向扩展存储</span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/enterprise-storage/china_con_img02.jpg"></img>
              <div class="foot-head">强悍计算性能</div>
              <div class="foot-foot">支持2颗Intel Xeon E5-2600V3/V4系列处理器，最大44个核心，及24个DDR4内存插槽，提供强悍计算性能</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/enterprise-storage/china_con_img02-copy.jpg"></img>
              <div class="foot-head">安静散热</div>
              <div class="foot-foot">严谨科学的散热设计，风道设计合理，使服务器部件得到良好的散热处理，并降低运行噪音</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/enterprise-storage/china_con_img02-copy-2.jpg"></img>
              <div class="foot-head">降低停机风险</div>
              <div class="foot-foot">高度的可用性，硬盘、电源、风扇等主要部件支持热插拔冗余功能，降低停机风险，保障业务安全</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-size" style="background: #F9FAFB;">
      <div class="product-content">
        <div class="product-left">
          <div class="left-title">完美的硬件产品</div>
          <div class="left-content">清华同方在服务器领域一直秉持“专业、专注、持续创新”的理念，洞悉所需，“计”高一筹，稳如磐石，“分毫”必争。基于对客户的深刻理解，清华同方为客户提供高性能、高可靠、高能效的It基础设施。</div>
        </div>
        <div class="product-right">
          <a class="right-one" href="/product/hardware/rack-server">
            <span class="title-one title">【机架式服务器】</span>
            <img src="/static/assets/page-views/product/hardware/enterprise-storage/rack.png"></img>
            <span class="span">了解更多</span>
          </a>
          <a class="right-two" href="/product/hardware/blade-server">
            <span class="title-two title">【刀片式服务器】</span>
            <img src="/static/assets/page-views/product/hardware/enterprise-storage/blade.png"></img>
            <span class="span">了解更多</span>
          </a>
          <a class="right-three" href="/product/hardware/tower-server">
            <span class="title-three title">【塔式服务器】</span>
            <img src="/static/assets/page-views/product/hardware/enterprise-storage/tower.png"></img>
            <span class="span">了解更多</span>
          </a>
        </div>
      </div>
    </div>
  </article>
</div>
<%- include('../../../../../components/footer.ejs') %>