<%- include('../../../../../components/header.ejs') %>
  <div class="ashe-platform-director">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/page-views/product/cloud-platform/director/banner.jpg) no-repeat center center;background-size:cover"></div>
        <!-- <img class="banner-img-mobile" src="/static/assets/page-views/product/cloud-platform/director/banner-m.png"> -->
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <div class="content-main">
        <div class="part-one">
          <p class="shuiyin">DIRECTOR</p>
          <p class="title"><%= director_title_one %><span><%= director_title_two %></span></p>
          <div class="feature">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/director/1.png">
              <p class="item_title"><%= director_feature_title_one %></p>
              <p class="item_intro"><%= director_feature_intro_one %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/director/2.png">
              <p class="item_title"><%= director_feature_title_two %></p>
              <p class="item_intro"><%= director_feature_intro_two %></p>
            </div>
            <div class="item">
              `<img src="/static/assets/page-views/product/cloud-platform/director/3.png">
              <p class="item_title"><%= director_feature_title_three %></p>
              <p class="item_intro"><%= director_feature_intro_three %></p>
            </div>
          </div>
          <div class="function">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/director/4.png">
              <p class="line"></p>
              <p class="item-title">部署极简</p>
              <p class="item-intro">简化部署步骤，可快速部署整个集群，以及扩容缩容。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/director/5.png">
              <p class="line"></p>
              <p class="item-title">高度确定性</p>
              <p class="item-intro">编排模板整合配置管理工具，使部署集群有高度确确性。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/director/6.png">
              <p class="line"></p>
              <p class="item-title">灵活可控</p>
              <p class="item-intro">通过制定节点角色，可灵活定制部署架构。</p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-platform/director/7.png">
              <p class="line"></p>
              <p class="item-title">裸机管理</p>
              <p class="item-intro">抽象封装部署过程，提炼出 API，部署以多种方式交付。</p>
            </div>
          </div>
        </div>
        <div class="part-three">
          <p class="shuiyin">TECHNICAL</p>
            <p class="title"><%= technical_title_one %><span><%= technical_title_two %></span></p>
          <div class="performance">
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-platform/director/icon1.png">
              <p class="performance-title"><%= performance_title_one %></p>
              <p class="performance-intro"><%= performance_intro_one %></p>
            </div>
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-platform/director/icon2.png">
              <p class="performance-title"><%= performance_title_two %></p>
              <p class="performance-intro"><%= performance_intro_two %></p>
            </div>
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-platform/director/icon3.png">
              <p class="performance-title"><%= performance_title_three %></p>
              <p class="performance-intro"><%= performance_intro_three %></p>
            </div>
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-platform/director/icon4.png">
              <p class="performance-title"><%= performance_title_four %></p>
              <p class="performance-intro"><%= performance_intro_four %></p>
            </div>
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-platform/director/icon5.png">
              <p class="performance-title"><%= performance_title_five %></p>
              <p class="performance-intro"><%= performance_intro_five %></p>
            </div>
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-platform/director/icon6.png">
              <p class="performance-title"><%= performance_title_six %></p>
              <p class="performance-intro"><%= performance_intro_six %></p>
            </div>
          </div>
        </div>
        <div class="part-two">
          <div class="part-two-center">
             <p class="shuiyin">PAIN POINT</p>
            <p class="title"><%= partner_title_one %><span><%= partner_title_two %></span></p>
            <div class="list-item">
              <div class="list-title">整合TripleoO，提高交付效率</div>
              <div class="list-intro">由于OpenStack庞大复杂的系统，其交付长久以来是一个难以解决的问题，同方云Director基于社区TripieO项目开发，通过编排模版定制整个系统，使得部署有高度确定性，提高部署效率。</div>
            </div>
            <div class="list-item">
              <div class="list-title">角色定制，灵活定制部署架构</div>
              <div class="list-intro">同方云Director通过节点角色（Role）能够灵活的定制将要部署的云环境，可以指定哪些节点承担什么角色，除了本身包含一些默认的节点角色之外，还可以自定义角色，指定哪些角色包含哪些服务，更加灵活的定制你的环境。</div>
            </div>
            <div class="list-item">
              <div class="list-title">网络定制，灵活定制网络拓扑</div>
              <div class="list-intro">OpenStack中最复杂的是网络架构，同方云Director充分利用Neutron提供的网络功能，将集群抽象出多个网络，包括管理网，外部网络，内部网络，存储网络，租户网络等，这些网络划分能够很灵活地满足OpenStack所需要、的各种网络定制需求。</div>
            </div>
            <div class="list-item">
              <div class="list-title">裸机管理，集中管理集群信息</div>
              <div class="list-intro">同方云Director通过社区Ironic项目实现了裸机管理能力，可以管理集群中物理服务器的整个生命周期，并且通过，Introspection功能，自动收集服务器参数，拓扑结构等，这为管理整个集群提供了无限可能。</div>
            </div>
          </div>
        </div>
        <div class="framework">
          <img src="/static/assets/page-views/product/cloud-platform/director/framework.png">
        </div>
      </div>
    </article>
  </div>
<%- include('../../../../../components/footer.ejs') %>