<%- include('../../../../components/header.ejs') %>

<div class="volcano-jobs">

  <!-- banner start -->
  <section class="banner">
    <div class="wraper">
      <div class="volcano-common-content">
      <img src="/static/assets/page-views/about/jobs/bannerpic@v2.0.png">
        <div class="word">
        <div class="word-title"><%= banner_title %></div>
        <div class="word-brief"><%= banner_brief %></div>
        <div class="word-describe"><%= banner_describe %></div>
        </div>
        <ul class="breadcrumb">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/about/milestones"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- banner end -->

  <!-- jobs start -->
  <div class="jobs-wrapper">
    <div class="jobs">
      <aside id="fixedBar" class="bar">
        <div class="wrapper">
          <ul class="menu-wrapper">
            <div id="menu-selectItem" class="selectItem"></div>
            <div id="menu-scroll" class="scroll"></div>
          </ul>
        </div>
        <ul class="btn" id="fixedBtn">
          <li id="arrow-up"><i class="icon-arrow-up"></i></li>
          <li id="arrow-down"><i class="icon-arrow-down"></i></li>
        </ul>
      </aside>
      <article id="jobsContent" class="content">
        <ul class="subproject" data-title="<%= part_one %>">
          <li class="notuse"><%= notuse %></li>
           <li class="single">
            <div class="title"><%= intern %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= intern_describe %></p>
              <ol>
                <li><%= intern_one %></li>
                <li><%= intern_two %></li>
                <li><%= intern_three %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= intern_spe_one %></li>
                <li><%= intern_spe_two %></li>
                <li><%= intern_spe_three %></li>
                <li><%= intern_spe_four %></li>
                <li><%= intern_spe_five %></li>
              </ol>
              <p><%= add %></p>
              <ol>
                <li><%= intern_add_one %></li>
                <li><%= intern_add_two %></li>
                <li><%= intern_add_three %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a><span class="intern-remark"><%= intern_remark %></span>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= network_rd_engineers %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= network_res_one %></li>
                <li><%= network_res_two %></li>
                <li><%= network_res_three %></li>
                <li><%= network_res_four %></li>
                <li><%= network_res_five %></li>
                <li><%= network_res_six %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= network_spe_one %></li>
                <li><%= network_spe_two %></li>
                <li><%= network_spe_three %></li>
                <li><%= network_spe_four %></li>
                <li><%= network_spe_five %></li>
              </ol>
              <p><%= add %></p>
              <ol>
                <li><%= network_add_one %></li>
                <li><%= network_add_two %></li>
                <li><%= network_add_three %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= storage_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= storage_res_one %></li>
                <li><%= storage_res_two %></li>
                <li><%= storage_res_three %></li>
                <li><%= storage_res_four %></li>
                <li><%= storage_res_five %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= storage_spe_one %></li>
                <li><%= storage_spe_two %></li>
                <li><%= storage_spe_three %></li>
                <li><%= storage_spe_four %></li>
                <li><%= storage_spe_five %></li>
                <li><%= storage_spe_six %></li>
                <li><%= storage_spe_seven %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= preparatory_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= preparatory_res_one %></li>
                <li><%= preparatory_res_two %></li>
                <li><%= preparatory_res_three %></li>
                <li><%= preparatory_res_four %></li>
                <li><%= preparatory_res_five %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= preparatory_spe_one %></li>
                <li><%= preparatory_spe_two %></li>
                <li><%= preparatory_spe_three %></li>
                <li><%= preparatory_spe_four %></li>
                <li><%= preparatory_spe_five %></li>
                <li><%= preparatory_spe_six %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= preparatory_engineer_bigdata %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= preparatory_resbigdata_one %></li>
                <li><%= preparatory_resbigdata_two %></li>
                <li><%= preparatory_resbigdata_three %></li>
                <li><%= preparatory_resbigdata_four %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= preparatory_spebigdata_one %></li>
                <li><%= preparatory_spebigdata_two %></li>
                <li><%= preparatory_spebigdata_three %></li>
                <li><%= preparatory_spebigdata_four %></li>
                <li><%= preparatory_spebigdata_five %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= platform_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= platform_res_one %></li>
                <li><%= platform_res_two %></li>
                <li><%= platform_res_three %></li>
                <li><%= platform_res_four %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= platform_spe_one %></li>
                <li><%= platform_spe_two %></li>
                <li><%= platform_spe_three %></li>
                <li><%= platform_spe_four %></li>
                <li><%= platform_spe_five %></li>
                <li><%= platform_spe_six %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= ceph_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= ceph_res_one %></li>
                <li><%= ceph_res_two %></li>
                <li><%= ceph_res_three %></li>
                <li><%= ceph_res_four %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= ceph_spe_one %></li>
                <li><%= ceph_spe_two %></li>
                <li><%= ceph_spe_three %></li>
                <li><%= ceph_spe_four %></li>
                <li><%= ceph_spe_five %></li>
                <li><%= ceph_spe_six %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= om_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= om_res_one %></li>
                <li><%= om_res_two %></li>
                <li><%= om_res_three %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><li><%= om_spe_one %></li>
                <li><li><%= om_spe_two %></li>
                <li><li><%= om_spe_three %></li>
                <li><li><%= om_spe_four %></li>
                <li><li><%= om_spe_five %></li>
                <li><li><%= om_spe_six %></li>
                <li><li><%= om_spe_seven %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= qa_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= qa_res_one %></li>
                <li><%= qa_res_two %></li>
                <li><%= qa_res_three %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= qa_spe_one %></li>
                <li><%= qa_spe_two %></li>
                <li><%= qa_spe_three %></li>
                <li><%= qa_spe_four %></li>
                <li><%= qa_spe_five %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= front_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= front_res_one %></li>
                <li><%= front_res_two %></li>
                <li><%= front_res_three %></li>
                <li><%= front_res_four %></li>
                <li><%= front_res_five %></li>
                <li><%= front_res_six %></li>
              </ol>
              <p><%= add %></p>
              <ol>
                <li><%= front_spe_one %></li>
                <li><%= front_spe_two %></li>
                <li><%= front_spe_three %></li>
                <li><%= front_spe_four %></li>
                <li><%= front_spe_five %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= devdops_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= devdops_res_one %></li>
                <li><%= devdops_res_two %></li>
                <li><%= devdops_res_three %></li>
                <li><%= devdops_res_four %></li>
                <li><%= devdops_res_five %></li>
                <li><%= devdops_res_six %></li>
                <li><%= devdops_res_seven %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= devdops_spe_one %></li>
                <li><%= devdops_spe_two %></li>
                <li><%= devdops_spe_three %></li>
                <li><%= devdops_spe_four %></li>
              </ol>
              <p><%= add %></p>
              <ol>
                <li><%= devdops_add_one %></li>
                <li><%= devdops_add_four %></li>
                <li><%= devdops_add_five %></li>
                <li><%= devdops_add_six %></li>
                <li><%= devdops_add_seven %></li>
                <li><%= devdops_add_eight %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
<!--           <li class="single">
            <div class="title"><%= blackbox_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= blackbox_res_one %></li>
                <li><%= blackbox_res_two %></li>
                <li><%= blackbox_res_three %></li>
                <li><%= blackbox_res_four %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= blackbox_spe_one %></li>
                <li><%= blackbox_spe_two %></li>
                <li><%= blackbox_spe_three %></li>
                <li><%= blackbox_spe_four %></li>
                <li><%= blackbox_spe_five %></li>
                <li><%= blackbox_spe_six %></li>
                <li><%= blackbox_spe_seven %></li>
                <li><%= blackbox_spe_eight %></li>
                <li><%= blackbox_spe_nine %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li> -->
          <li class="single">
            <div class="title"><%= plat_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= plat_res_one %></li>
                <li><%= plat_res_two %></li>
                <li><%= plat_res_three %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= plat_spe_one %></li>
                <li><%= plat_spe_two %></li>
                <li><%= plat_spe_three %></li>
                <li><%= plat_spe_four %></li>
                <li><%= plat_spe_five %></li>
                <li><%= plat_spe_six %></li>
                <li><%= plat_spe_seven %></li>
              </ol>
              <p><%= add %></p>
              <ol>
                <li><%= plat_add_one %></li>
                <li><%= plat_add_two %></li>
                <li><%= plat_add_three %></li>
                <li><%= plat_add_four %></li>
                <li><%= plat_add_five %></li>
                <li><%= plat_add_six %></li>
                <li><%= plat_add_seven %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
        </ul>
        <ul class="subproject" data-title="<%= part_two %>">
          <li class="notuse"><%= om_department %></li>
          <li class="single">
            <div class="title"><%= auto_om_department %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= auto_res_one %></li>
                <li><%= auto_res_two %></li>
                <li><%= auto_res_three %></li>
                <li><%= auto_res_four %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= auto_spe_one %></li>
                <li><%= auto_spe_two %></li>
                <li><%= auto_spe_three %></li>
                <li><%= auto_spe_four %></li>
                <li><%= auto_spe_five %></li>
              </ol>
              <p><%= add %></p>
              <ol>
                <li><%= auto_add_one %></li>
                <li><%= auto_add_two %></li>
                <li><%= auto_add_three %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= implementation_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= implementation_res_one %></li>
                <li><%= implementation_res_two %></li>
                <li><%= implementation_res_three %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= implementation_spe_one %></li>
                <li><%= implementation_spe_two %></li>
                <li><%= implementation_spe_three %></li>
                <li><%= implementation_spe_four %></li>
                <li><%= implementation_spe_five %></li>
                <li><%= implementation_spe_six %></li>
                <li><%= implementation_spe_seven %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= project_manager %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= project_res_one %></li>
                <li><%= project_res_two %></li>
                <li><%= project_res_three %></li>
                <li><%= project_res_four %></li>
                <li><%= project_res_five %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= project_spe_one %></li>
                <li><%= project_spe_two %></li>
                <li><%= project_spe_three %></li>
                <li><%= project_spe_four %></li>
                <li><%= project_spe_five %></li>
                <li><%= project_spe_six %></li>
                <li><%= project_spe_seven %></li>
                <li><%= project_spe_eight %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
<!--           <li class="single">
            <div class="title"><%= presales %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= presales_res_one %></li>
                <li><%= presales_res_two %></li>
                <li><%= presales_res_three %></li>
                <li><%= presales_res_four %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= presales_spe_one %></li>
                <li><%= presales_spe_two %></li>
                <li><%= presales_spe_three %></li>
                <li><%= presales_spe_four %></li>
                <li><%= presales_spe_five %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li> -->
          <li class="single">
            <div class="title"><%= operations_engineer %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= operations_res_one %></li>
                <li><%= operations_res_two %></li>
                <li><%= operations_res_three %></li>
                <li><%= operations_res_four %></li>
                <li><%= operations_res_five %></li>
                <li><%= operations_res_six %></li>
                <li><%= operations_res_seven %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= operations_spe_one %></li>
                <li><%= operations_spe_two %></li>
                <li><%= operations_spe_three %></li>
                <li><%= operations_spe_four %></li>
                <li><%= operations_spe_five %></li>
                <li><%= operations_spe_six %></li>
              </ol>
              <p><%= add %></p>
              <ol>
                <li><%= operations_spe_seven %></li>
                <li><%= operations_spe_eight %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
        </ul>
        <ul class="subproject" data-title="<%= part_three %>">
          <li class="notuse"><%= marketing_center %></li>
          <li class="single">
            <div class="title"><%= sales %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= sales_res_one %></li>
                <li><%= sales_res_two %></li>
                <li><%= sales_res_three %></li>
                <li><%= sales_res_four %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= sales_spe_one %></li>
                <li><%= sales_spe_two %></li>
                <li><%= sales_spe_three %></li>
                <li><%= sales_spe_four %>；</li>
                <li><%= sales_spe_five %></li>
                <li><%= sales_spe_six %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
          <li class="single">
            <div class="title"><%= consulting_architect %>
              <span><i class="icon-plus"></i><i class="icon-minus"></i></span>
            </div>
            <div class="detail">
              <p><%= responsibility %></p>
              <ol>
                <li><%= consulting_res_one %></li>
                <li><%= consulting_res_two %></li>
                <li><%= consulting_res_three %></li>
                <li><%= consulting_res_four %></li>
                <li><%= consulting_res_five %></li>
              </ol>
              <p><%= specification %></p>
              <ol>
                <li><%= consulting_spe_one %></li>
                <li><%= consulting_spe_two %></li>
                <li><%= consulting_spe_three %></li>
                <li><%= consulting_spe_four %></li>
                <li><%= consulting_spe_five %></li>
              </ol>
              <p><%= mail %></p>
              <a href="mailto:zhaopin@unitedstack.com">zhaopin@unitedstack.com</a>
              <div class="btn-wrapper">
                <a class="join-us" href="mailto:zhaopin@unitedstack.com"><%= join %></a>
              </div>
            </div>
          </li>
        </ul>
      </article>
    </div>
  </div>
  <!-- jobs end -->
</div>

<%- include('../../../../components/footer.ejs') %>