<%- include('../../../components/header.ejs') %>
    <div class="notice-views-detail">
    <article >
      <!-- banner -->
      <section class="content-banner content-banner-notice">
        <div class="type-area">
          <div class="banner">
            <div class="banner-brief">同方有云公告</div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/notice-views/detail/banner.jpg) no-repeat center center;background-size:cover"></div>
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/notice">同方有云公告</a>&nbsp;/&nbsp;</li>
          <li class="third"><%= notice.title %></li>
        </ul>
      </div>
      <section class="content-main">
        <div class="inner">
          <div class="left-content">
            <div class="news">
              <div class="item">
                <div class="title"><%= notice.title %></div>
                <p class="brief">
                  <%if(notice.createdAt){%>
                  <span class="date"><%= new Date(notice.createdAt).getFullYear() + '. ' + (new Date(notice.createdAt).getMonth() + 1) + '. ' + new Date(notice.createdAt).getDate() %></span>
                  <%}%>
                </p>
                <div class="detail wangEditor-container" style="border: none">
                  <div class="wangEditor-txt" style="padding: 0" content="<%= notice.content %>"><%- notice.content %></div>
                </div>
              </div>
              <div class="page-link">
<!--                 <div class="prev"><span>上一篇:</span> <a href="/support/tf-news/detail-one">《同方有云平台1月11日安全更新通告》</a></div>
                <div class="next"><span>下一篇:</span> <a href="/support/tf-news/detail-two">《同方有云助力同方发力信息产业2.0》</a></div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>
<%- include('../../../components/footer.ejs') %>
