<%- include('../../components/header.ejs') %>
<div class="main">
  <!-- banner begin -->
  <section class="banner">
    <div class="pc-banner">
      <ul class="carousel">
        <li class="banner-wrapper active">
          <div class="banner-content-wrapper">
            <div class="banner-title1"><%= first_banner_title1 %></div>
            <div class="banner-title2"><%= first_banner_title2 %></div>
            <div class="banner-content"><%= first_banner_content %></div>
            <div class="clearfix">
              <a href="/public/storage">
                <button class="banner-btn1 banner-btn"><%= banner_btn1 %></button>
              </a>
              <a href="http://console.tfcloud.com/register?next=/">
                <button class="banner-btn2 banner-btn"><%= banner_btn2 %></button>
              </a>
            </div>
          </div>
        </li>
        <li class="banner-wrapper">
          <div class="banner-content-wrapper">
            <div class="banner-title1"><%= second_banner_title1 %></div>
            <div class="banner-title2"><%= second_banner_title2 %></div>
            <div class="banner-content"><%= second_banner_content %></div>
            <div class="clearfix">
              <a href="/product/cloud-security">
                <button class="banner-btn1 banner-btn"><%= banner_btn1 %></button>
              </a>
              <a href="http://console.tfcloud.com/register?next=/">
                <button class="banner-btn2 banner-btn"><%= banner_btn2 %></button>
              </a>
            </div>
          </div>
        </li>
        <li class="banner-wrapper">
          <div class="banner-content-wrapper">
            <div class="banner-title1"><%= third_banner_title1 %></div>
            <div class="banner-title2"><%= third_banner_title2 %></div>
            <div class="banner-content"><%= third_banner_content %></div>
            <div class="clearfix">
              <a href="/product/cloud-platform/product">
                <button class="banner-btn1 banner-btn"><%= banner_btn1 %></button>
              </a>
              <a href="http://console.tfcloud.com/register?next=/">
                <button class="banner-btn2 banner-btn"><%= banner_btn2 %></button>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="control-bar">
        <li class="point active" data-index=0></li>
        <li class="point" data-index=1></li>
        <li class="point" data-index=2></li>
      </ul>
    </div>
  </section>
  <!-- banner end -->

  <!-- content begin -->
  <section class="content">
    
    <!-- architecture begin -->
    <div class="architecture clearfix">
      <div class="content-wrapper">
        <div class="content-title"><%= architecture_title %></div>
        <div class="architecture-content"><%= architecture_content %></div>
        <a href="/product/environment">
          <button class="content-btn"><%= architecture_btn %></button>
        </a>
      </div>
      <div class="img-wrapper">
        <div class="architecture-list">
          <img src="/static/assets/home-views/architecture-bg.png" alt="" class="architecture-bg">
        </div>
      </div>
    </div>
    <!-- architecture end -->

    <!-- features begin -->
    <div class="feature-list-wrapper">
      <div class="feature-header">
        <div class="feature-title">
          <div class="bg-title">FIELDS INVOLVED</div>
          <div class="title">
            <span><%= first_feat_title_sec1 %></span><span>&</span><span><%= first_feat_title_sec2 %></span>
          </div>
        </div>
        <div class="feature-content"><%= first_feat_content %></div>
      </div>
      <ul class="feature-list">
        <li class="feature-wrapper">
          <div class="feature-content-wrapper clearfix">
            <div class="clearfix feat-content">
                <div class="feature-title">
                    <%= second_feat_title %>
                  </div>
                  <div class="feature-content">
                    <%= second_feat_content %>
                  </div>
            </div>
            <div class="feat-ani">
              <div class="ani1"></div>
              <div class="ani2"></div>
              <div class="ani3"></div>
              <div class="ani4"></div>
              <div class="ani5"></div>
              <div class="ani6"></div>
              <div class="ani7"></div>
              <div class="ani8"></div>
              <div class="ani9"></div>
              <div class="ani10"></div>
              <div class="ani11"></div>
            </div>
          </div>
        </li>
        <li class="feature-wrapper">
          <div class="feature-content-wrapper clearfix">
            <div class="clearfix feat-content">
              <div class="feature-title">
                <%= third_feat_title %>
              </div>
              <div class="feature-content">
                <%= third_feat_content %>
              </div>
            </div>
            <div class="feat-ani">
              <div class="ani1"></div>
              <div class="ani2"></div>
              <div class="ani3"></div>
              <div class="ani4"></div>
              <div class="ani5"></div>
              <div class="ani6"></div>
              <div class="ani7"></div>
              <div class="ani8"></div>
              <div class="ani9"></div>
              <div class="ani10"></div>
              <div class="ani11"></div>
            </div>
          </div>
        </li>
        <li class="feature-wrapper">
          <div class="feature-content-wrapper clearfix">
            <div class="clearfix feat-content">
                <div class="feature-title">
                    <%= fourth_feat_title %>
                  </div>
                  <div class="feature-content">
                    <%= fourth_feat_content %>
                  </div>
            </div>
            <div class="feat-ani">
                <div class="ani1"></div>
                <div class="ani2"></div>
                <div class="ani3"></div>
                <div class="ani4"></div>
                <div class="ani5"></div>
                <div class="ani6"></div>
                <div class="ani7"></div>
                <div class="ani8"></div>
                <div class="ani9"></div>
                <div class="ani10"></div>
                <div class="ani11"></div>
              </div>
          </div>
         </li>
         <li class="feature-wrapper">
            <div class="feature-content-wrapper clearfix">
              <div class="feat-content">
                  <div class="feature-title">
                      <%= fifth_feat_title %>
                    </div>
                    <div class="feature-content">
                      <%= fifth_feat_content %>
                    </div>
              </div>
              <div class="feat-ani">
                  <div class="ani1"></div>
                  <div class="ani2"></div>
                  <div class="ani3"></div>
                  <div class="ani4"></div>
                  <div class="ani5"></div>
                  <div class="ani6"></div>
                  <div class="ani7"></div>
                  <div class="ani8"></div>
                  <div class="ani9"></div>
                  <div class="ani10"></div>
                  <div class="ani11"></div>
                </div>
            </div>
          </li>
      </ul>
    </div>
    <!-- features end -->

    <!-- area begin -->
    <div class="area-wrapper">
      <div class="area-title">
        <div class="bg-title">SERVICE AREA</div>
        <div class="title">
          <span><%= area_title_sec1 %></span><span><%= area_title_sec2 %></span>
        </div>
      </div>
      <div><%= area_intro_content %></div>
      <ul class="area-list clearfix">
        <li class="area-content-wrapper" data-index=1>
          <div class="top">
            <img src="/static/assets/home-views/edu.png" alt="" class="area-icon">
            <div class="bar"></div>
            <div class="area-name"><%= first_area_name %></div>
          </div>
          <div class="bottom">
            <div class="content-title"><%= first_area_name %></div>
            <div class="area-content"><%= first_area_content %></div>
          </div>
        </li>
        <li class="area-content-wrapper" data-index=2>
          <div class="top">
            <img src="/static/assets/home-views/fin.png" alt="" class="area-icon">
            <div class="bar"></div>
            <div class="area-name"><%= second_area_name %></div>
          </div>
          <div class="bottom">
            <div class="content-title"><%= second_area_name %></div>
            <div class="area-content"><%= second_area_content %></div>
          </div>
        </li>
        <li class="area-content-wrapper" data-index=3>
          <div class="top">
            <img src="/static/assets/home-views/gov.png" alt="" class="area-icon">
            <div class="bar"></div>
            <div class="area-name"><%= third_area_name %></div>
          </div>
          <div class="bottom">
            <div class="content-title"><%= third_area_name %></div>
            <div class="area-content"><%= third_area_content %></div>
          </div>
        </li>
        <li class="area-content-wrapper" data-index=4>
          <div class="top">
            <img src="/static/assets/home-views/com.png" alt="" class="area-icon">
            <div class="bar"></div>
            <div class="area-name"><%= fourth_area_name %></div>
          </div>
          <div class="bottom">
            <div class="content-title"><%= fourth_area_name %></div>
            <div class="area-content"><%= fourth_area_content %></div>
          </div>
        </li>
      </ul>
      <!-- <button><%= area_btn %></button> -->
    </div>
    <!-- area end -->

    <!-- customer begin -->
    <div class="customer-wrapper">
      <div class="customer-title title-section">
        <div class="bg-title">CUSTOMER</div>
        <div class="title">
          <span><%= customer_title_sec1 %></span><span><%= customer_title_sec2 %></span>
        </div>
      </div>
      <div><%= customer_append_content %></div>
      <ul class="customer-list clearfix">
        <% for(var i = 1; i <= 10; i++) { %>
          <li class="customer customer<%= i %>">
            <!-- <img src="/static/assets/home-views/cu<%= i %>.png" alt=""> -->
          </li>
        <% } %>  
        </ul>
      <!-- <button>更多客户</button> -->
    </div>
    <!-- customer end -->

    <!-- cummunity begin -->
    <div class="community"></div>
    <!-- cummunity end -->

    <!-- reference begin -->
    <div class="refer-wrapper">
      <div class="refer-move-bg move-bg1">
        <img src="/static/assets/home-views/refer-bg-move1.png" alt="" />
        <img src="/static/assets/home-views/refer-bg-move1.png" alt="" />
      </div>
      <div class="refer-move-bg move-bg2">
        <img src="/static/assets/home-views/refer-bg-move2.png" alt="" />
        <img src="/static/assets/home-views/refer-bg-move2.png" alt="" />
      </div>
      <div class="refer-move-bg move-bg3">
        <img src="/static/assets/home-views/refer-bg-move3.png" alt="" />
        <img src="/static/assets/home-views/refer-bg-move3.png" alt="" />
      </div>
      <div class="refer-content-wrapper">
        <div class="refer-content">
          <span class="big">云计算</span><span class="small">是一种</span><span class="big">商业计算模型</span><span class="small">，它将计算任务分布在大量计算</span><span class="small">机构成的</span><span class="big">资源池</span><span class="small">上，使各种应用能够根据需要获取</span><span class="big">计算能</span><span class="big">力</span><span class="small">、</span><span class="big">存储空间</span><span class="small">和</span><span class="big">网络连通性</span><span class="small">，及各种</span><span class="big">软件服务</span><span class="small">。</span>
        </div>
      </div>
    </div>
    <!-- reference end -->
  </section>
  <!-- content end -->
</div>
<div id="preload-mask">
  <div class="header">
    <div class="wrapper">
        <div class="left"></div>
        <ul class="center">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class="right">
          <div></div>
          <div></div>
        </div>
    </div>

  </div>
  <div class="banner-wrapper">
      <div class="banner-content-wrapper">
        <div class="banner-title1"></div>
        <div class="banner-title2"></div>
        <div class="progress-bar">
          <div class="content"></div>
        </div>
        <div class="banner-content1"></div>
        <div class="banner-content2"></div>
        <div>
            <button class="banner-btn1 banner-btn"></button>
            <button class="banner-btn2 banner-btn"></button>
        </div>
      </div>
    </div>
</div>
<%- include('../../components/footer.ejs') %>