<%- include('../../components/header.ejs') %>
<div class="volcano-home">
  <section class="content-banner">
    <div class="carousel" id="carousel">
      <div class="wrapper" id="wrapper">
        <ul class="m_unit" id="m_unit">
          <li style="background: url(/static/assets/banner1@v2.0.jpg) no-repeat center center;background-size: cover;" class="preloading first first-page">
            <div class="experts">
              <p class="title"><%= uos_title %></p>
              <p class="brief"><%= uos_brief %></p>
              <a href="/product/product"><%= link_detail_one %></a>
            </div>
          </li>
          <li style="background: url(/static/assets/banner2.jpg) no-repeat center center;background-size: cover;" class="preloading second-page">
            <div class="experts">
              <p class="title"><%= experts_title %></p>
              <p class="brief"><%= experts_brief %></p>
              <a href="/account/register"><%= link_one %></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="circle" id="circle">
        <div class="item">
          <div class="li circle_left"><span class="unit_width"></span></div>
        </div>
        <div class="item">
          <div class="li"><span class="unit_width"></span></div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-main">
    <div class="innerc">
      <div class="crosswise">
        <ul>
          <li class="service">
            <img src="/static/assets/crosswise1.png" class="logo">
            <img src="/static/assets/crosswise11.png" class="logo-new">
            <p class="intro"><%= crosswise_one %></p>
            <div class="line"></div>
            <div class="detail">
              <%= crosswise_one_detail %>
            </div>
          </li>
          <li class="construction">
            <img src="/static/assets/crosswise2.png" class="logo">
            <img src="/static/assets/crosswise22.png" class="logo-new">
            <p class="intro"><%= crosswise_two %></p>
            <div class="line"></div>
            <div class="detail">
              <%= crosswise_two_detail %>
            </div>
          </li>
          <li class="om">
            <img src="/static/assets/crosswise3.png" class="logo">
            <img src="/static/assets/crosswise33.png" class="logo-new">
            <p class="intro"><%= crosswise_three %></p>
            <div class="line"></div>
            <div class="detail">
              <%= crosswise_three_detail %>
            </div>
          </li>
          <li class="documents">
            <img src="/static/assets/crosswise4.png" class="logo">
            <img src="/static/assets/crosswise44.png" class="logo-new">
            <p class="intro"><%= crosswise_four %></p>
            <div class="line"></div>
            <div class="detail">
              <%= crosswise_four_detail %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="show">
      <div class="inner">
        <div class="item">
          <div class="show-content">
            <div class="left"></div>
            <div class="right">
              <p class="intro"><%= show_one_title %></p>
              <p class="introduction"><%= show_one_detail %></p>
            </div>
          </div>
        </div>
        <div class="item">
        <div class="show-content">
          <div class="left"></div>
          <div class="right">
            <p class="intro"><%= show_two_title %></p>
            <p class="introduction"><%= show_two_detail %></p>
          </div>
        </div>
        </div>
        <div class="item">
          <div class="show-content">
            <div class="left"></div>
            <div class="right">
              <p class="intro"><%= show_three_title %></p>
              <p class="introduction"><%= show_three_detail %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="advantage">
      <div class="title"><%=advantage_title %></div>
      <div class="brief"><%=advantage_brief%></div>
      <div class="ad-content">
        <div class="left">
          <div class="item">
            <img src="/static/assets/ad1.png">
            <p class="ad-title"><%=advantage_one_title%></p>
            <div class="ad-brief">
              <p><i></i><span class="per-brief"><%=advantage_one_brief_one%><b>;&nbsp;</b></span></p>
              <p><i></i><span class="per-brief"><%=advantage_one_brief_two%></span></p>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/ad2.png">
            <p class="ad-title"><%=advantage_two_title%></p>
            <div class="ad-brief">
              <p><i></i><span class="per-brief"><%=advantage_two_brief_one%><b>;&nbsp;</b></span></p>
              <p><i></i><span class="per-brief"><%=advantage_two_brief_two%><b>;&nbsp;</b></span></p>
              <p><i></i><span class="per-brief"><%=advantage_two_brief_three%></span></p>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/ad3.png">
            <p class="ad-title"><%=advantage_three_title%></p>
            <div class="ad-brief">
              <p><i></i><span class="per-brief"><span></span><%=advantage_three_brief_one%><b>;&nbsp;</b></span></p>
              <p><i></i><span class="per-brief"><span></span><%=advantage_three_brief_two%><b>;&nbsp;</b></span></p>
              <p><i></i><span class="per-brief"><span></span><%=advantage_three_brief_three%></span></p>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/ad4.png">
            <p class="ad-title"><%=advantage_four_title%></p>
            <div class="ad-brief">
              <p><i></i><span class="per-brief"><span></span><%=advantage_four_brief_one%></span></p>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/ad5.png">
            <p class="ad-title"><%=advantage_five_title%></p>
            <div class="ad-brief">
              <p><i></i><span class="per-brief"><span></span><%=advantage_five_brief_one%><b>;&nbsp;</b></span></p>
              <p><i></i><span class="per-brief"><span></span><%=advantage_five_brief_two%></span></p>
            </div>
          </div>
        </div>
        <div class="right">
          <img src="/static/assets/advantage.png">
        </div>
      </div>

    </div>
<!--     <div class="framework">
      <div class="inner">
        <div class="title"><%= framework_title %></div>
        <div class="brief"><%= framework_brief %></div>
        <div class="framephoto framephoto1"> </div>
        <div class="framephoto framephoto2"> </div>
        <div class="framephoto framephoto3"> </div>
        <div class="framephoto framephoto4"> </div>
      </div>
    </div> -->
    <div class="classify">
      <div class="wall"></div>
      <div class="inner">
        <div class="title"><%= classify_title %></div>
        <div class="brief"><%= classify_brief %></div>
        <div class="classify-ul">
          <div class="classify-li milestones">
            <img src="/static/assets/6-1@v2.0.jpg">
            <div class="under-detail">
              <p class="title"><%= classify_one_name %></p>
              <p class="line"></p>
              <p class="detail"><%= classify_one_detail %></p>
              <a href="/about/milestones" class="under"><%= classify_one_name_two %></a>
            </div>
          </div>
          <div class="classify-li contact">
            <img src="/static/assets/6-2@v2.0.jpg">
            <div class="under-detail">
              <p class="title"><%= classify_two_name %></p>
              <p class="line"></p>
              <p class="detail"><%= classify_two_detail %></p>
              <a href="/about/contact-us" class="under"><%= classify_two_name %></a>
            </div>
          </div>
          <div class="classify-li train">
            <img src="/static/assets/6-3@v2.0.jpg">
            <div class="under-detail">
              <p class="title"><%= classify_three_name %></p>
              <p class="line"></p>
              <p class="detail"><%= classify_three_detail %></p>
              <a href="/training/train" class="under"><%= classify_three_name %></a>
            </div>
          </div>
          <div class="classify-li recruitment">
            <img src="/static/assets/6-4@v2.0.jpg">
            <div class="under-detail">
              <p class="title"><%= classify_four_name %></p>
              <p class="line"></p>
              <p class="detail"><%= classify_four_detail %></p>
              <a href="/about/jobs" class="under"><%= classify_four_name %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="articles">
      <div class="news">
        <div class="title"><%= news_title %></div>
        <div class="detail">
        <% if(home_news[0]) {%>
          <a class="first" href="/news/<%= home_news[0].url%>">
            <%if (home_news[0].cover){%>
              <div class="first-img" style="background: url(<%= home_news[0].cover %>) no-repeat center center;background-size:cover;"></div>
            <% }else{%>
              <div class="first-img" style="background: url(static/assets/holder.png) no-repeat center center;background-size:cover;"></div>
            <% }%>
            <div class="curtain">
              <p id="fold" class="content"><%= home_news[0].title%></p>
            </div>
          </a>
          <%}%>
          <% for(var i = 1;i<home_news.length; i++ ) {%>
          <div class="list">
            <span class="date"><%= new Date(home_news[i].createdAt).getFullYear() + '年' + (new Date(home_news[i].createdAt).getMonth() + 1) + '月' + new Date(home_news[i].createdAt).getDate() +'日'%></span>
            <span class="name"><%= home_news[i].authorName%></span>
            <a class="content" href="/news/<%= home_news[i].url%>"><%= home_news[i].title%></a>
          </div>
          <%}%>
        </div>
        <div class="mobile-detail">
          <% for(var i = 0;i<home_news.length; i++ ) {%>
          <div class="list">
            <span class="date"><%= new Date(home_news[i].createdAt).getFullYear() + '年' + (new Date(home_news[i].createdAt).getMonth() + 1) + '月' + new Date(home_news[i].createdAt).getDate() +'日'%></span>
            <span class="name"><%= home_news[i].authorName%></span>
            <a class="content" href="/news/<%= home_news[i].url%>"><%= home_news[i].title%></a>
          </div>
          <%}%>
        </div>
        <a href="/news?page=1" class="more" ><%= more_news %></a>
      </div>
      <div class="blog">
        <div class="title"><%= blog_title %></div>
        <div class="detail">
          <% for(var i = 0;i<home_blog.length; i++ ) {%>
          <div class="list">
            <span class="date"><%= new Date(home_blog[i].createdAt).getFullYear() + '年' + (new Date(home_blog[i].createdAt).getMonth() + 1) + '月' + new Date(home_blog[i].createdAt).getDate() +'日'%></span>
              <a id="txt" class="content" href="/blog/<%= home_blog[i].url%>" title="<%= home_blog[i].title %>"><%= home_blog[i].title %></a>
              <div class="dotted">......</div>
          </div>
          <%}%>
        </div>
        <a href="/blog?page=1" class="more"><%= link_two %></a>
      </div>
    </div>
    <div class="cloud">
      <div class="title"><%= win %></div>
      <div class="brief"><%= win_flag %></div>
      <div class="image">
        <img class="logo1" src="static/assets/7-1.png">
        <img class="logo2" src="static/assets/7-2.png">
        <img class="logo3" src="static/assets/7-3.png">
        <img class="logo4" src="static/assets/7-4.png">
        <img class="logo5" src="static/assets/7-5.png">
      </div>
    </div>
    <div class="caller">
      <div class="character">
        <p class="call"><%= caller_one %></p>
        <p class="call"><%= caller_one_part %></p>
        <p><span><%= caller_two %></span>&nbsp;<%= caller_three %>&nbsp;<span><%= caller_four %></span></p>
      </div>
    </div>
  </section>
</div>
<%- include('../../components/footer.ejs') %>