<%- include('../../../../../components/header.ejs') %>
<div class="main">
  <article>
    <section class="content-banner">
      <div class="type-area">
        <div class="banner">
          <div class="banner-title"><%= banner_title %></div>
          <div class="banner-brief"><%= banner_brief %></div>
          <div class="banner-describe"><%= banner_describe %></div>
          <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
        </div>
      </div>
      <img class="banner-img" src="/static/assets/page-views/product/cloud-platform/product/banner.jpg">
      <!-- <img class="banner-img-mobile" src="/static/assets/page-views/product/cloud-platform/product/banner-m.png"> -->
    </section>
  </article>
  <section class="content">
    <nav class="breadcrumbs clearfix">
      <ul>
        <li><a href="/"><%= breadcrumbs_one %></a>&nbsp;/&nbsp;</li>
        <li><a href="/support/product-service"><%= breadcrumbs_two %></a>&nbsp;/&nbsp;</li>
        <li class="active"><%= breadcrumbs_three %></li>
      </ul>
    </nav>
    <div class="main-content">
      <ul class="advantage-list">
        <li class="clearfix advantage-wrapper">
          <img src="/static/assets/page-views/product/cloud-platform/product/advantage-img-1.svg" alt="">
          <div class="advantage-content-wrapper">
            <div class="advantage-title title-section">
              <div class="background-title">
                <%= first_advantage_bg_title %>
              </div>
              <div class="title">
                <span><%= first_advantage_title_sect1 %></span><span><%= first_advantage_title_sect2 %></span>
              </div>
            </div>
            <div class="advantage-content">
              <%= first_advantage_content %>
            </div>
          </div>
        </li>
        <li class="clearfix advantage-wrapper">
          <img src="/static/assets/page-views/product/cloud-platform/product/advantage-img-1.svg" alt="">
          <div class="advantage-content-wrapper">
            <div class="advantage-title title-section">
              <div class="background-title">
                <%= second_advantage_bg_title %>
              </div>
              <div class="title">
                <span><%= second_advantage_title_sect1 %></span><span><%= second_advantage_title_sect2 %></span>
              </div>
            </div>
            <div class="advantage-content">
              <%= second_advantage_content %>
            </div>
          </div>
        </li>
        <li class="clearfix advantage-wrapper">
            <img src="/static/assets/page-views/product/cloud-platform/product/advantage-img-1.svg"  alt="">
            <div class="advantage-content-wrapper">
              <div class="advantage-title title-section">
                <div class="background-title">
                  <%= third_advantage_bg_title %>
                </div>
                <div class="title">
                  <span><%= third_advantage_title_sect1 %></span><span><%= third_advantage_title_sect2 %></span>
                </div>
              </div>
              <div class="advantage-content">
                <%= third_advantage_content %>
              </div>
            </div>
          </li>
      </ul>
      <div class="features">
        <div class="feature-title title-section">
          <div class="background-title"><%= feature_bg_title %></div>
          <div class="title">
            <span><%= feature_title_sect1 %></span><span><%= feature_title_sect2 %></span>
          </div>
        </div>
        <ul class="feature-list clearfix">
          <li>
            <img src="/static/assets/page-views/product/cloud-platform/product/feat1.png" alt="" class="feature-icon">
            <div class="feature-title"><%= first_feature_title %></div>
            <div class="feature-content"><%= first_feature_content %></div>
          </li>
          <li>
            <img src="/static/assets/page-views/product/cloud-platform/product/feat2.png" alt="" class="feature-icon">
            <div class="feature-title"><%= second_feature_title %></div>
            <div class="feature-content"><%= second_feature_content %></div>
          </li>
          <li>
            <img src="/static/assets/page-views/product/cloud-platform/product/feat3.png" alt="" class="feature-icon">
            <div class="feature-title"><%= third_feature_title %></div>
            <div class="feature-content"><%= third_feature_content %></div>
          </li>
          <li>
            <img src="/static/assets/page-views/product/cloud-platform/product/feat4.png" alt="" class="feature-icon">
            <div class="feature-title"><%= fourth_feature_title %></div>
            <div class="feature-content"><%= fourth_feature_content %></div>
          </li>
          <li>
            <img src="/static/assets/page-views/product/cloud-platform/product/feat5.png" alt="" class="feature-icon">
            <div class="feature-title"><%= fifth_feature_title %></div>
            <div class="feature-content"><%= fifth_feature_content %></div>
          </li>
          <li>
            <img src="/static/assets/page-views/product/cloud-platform/product/feat6.png" alt="" class="feature-icon">
            <div class="feature-title"><%= sixth_feature_title %></div>
            <div class="feature-content"><%= sixth_feature_content %></div>
          </li>
        </ul>
      </div>
      <div class="intro">
        <div class="intro-title title-section">
          <div class="background-title"><%= intro_bg_title %></div>
          <div class="title">
            <span><%= intro_title_sect1 %></span><span><%= intro_title_sect2 %></span>
            </div>
        </div>
        <div class="append-title-content"><%= intro_append_title %></div>
        <img src="/static/assets/page-views/product/cloud-platform/product/architecture.jpg" alt="" class="intro-img">
        <ul class="intro-list">
          <li class="intro-wrapper clearfix">
            <img src="/static/assets/5-1@v2.0.jpg" alt="">
            <div class="content-wrapper">
              <img src="/static/assets/5-1-0.png" alt="">
              <div class="title"><%= first_intro_title %></div>
              <div class="content">
                <div><%= first_intro_sect1 %></div>
                <div><%= first_intro_sect2 %></div>
              </div>
              <a href="/product/cloud-platform/enterprise">
                <button class="intro-btn"><%= first_intro_btn %></button>
              </a>
            </div>
          </li>
          <li class="intro-wrapper clearfix">
            <img src="/static/assets/5-2@v2.0.jpg" alt="">
            <div class="content-wrapper">
              <img src="/static/assets/5-2-0.png" alt="">
              <div class="title"><%= second_intro_title %></div>
              <div class="content">
                <div><%= second_intro_sect1 %></div>
                <div><%= second_intro_sect2 %></div>
              </div>
              <a href="/product/cloud-platform/director">
                <button class="intro-btn"><%= second_intro_btn %></button>
              </a>
            </div>
          </li>
          <li class="intro-wrapper clearfix">
            <img src="/static/assets/5-3@v2.0.jpg" alt="">
            <div class="content-wrapper">
              <img src="/static/assets/5-3-0.png" alt="">
              <div class="title"><%= third_intro_title %></div>
              <div class="content">
                <div><%= third_intro_sect1 %></div>
                <div><%= third_intro_sect2 %></div>
              </div>
              <a href="/product/cloud-platform/manager">
                <button class="intro-btn"><%= third_intro_btn %></button>
              </a>
            </div>
          </li>
          <li class="intro-wrapper clearfix">
            <img src="/static/assets/5-4@v2.0.jpg" alt="">
            <div class="content-wrapper">
              <img src="/static/assets/5-4-0.png" alt="">
              <div class="title"><%= fourth_intro_title %></div>
              <div class="content">
                <div><%= fourth_intro_sect1 %></div>
                <div><%= fourth_intro_sect2 %></div>
              </div>
              <a href="/product/cloud-platform/operator">
                <button class="intro-btn"><%= fourth_intro_btn %></button>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="summary">
        <img src="/static/assets/page-views/product/cloud-platform/product/background.png" alt="" class="background">
        <div>
          <img src="/static/assets/page-views/product/cloud-platform/product/mac.png" alt="" class="side">
          <div class="summary-content-wrapper">
            <div class="summary-title"><%= summary_title %></div>
            <div class="summary-content"><%= summary_content %></div>
            <button><%= summary_button %></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../../../../../components/footer.ejs') %>