<%- include('../../../components/header.ejs') %>
  <div class="notice-views-list">
    <article >
      <!-- banner -->
      <section class="content-banner content-banner-notice">
        <div class="type-area">
          <div class="banner">
            <div class="banner-brief">同方云公告</div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/notice-views/list/banner.jpg) no-repeat center center;background-size:cover"></div>
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/">首页</a>&nbsp;/&nbsp;</li>
          <li class="third"><a class="success" href="/notice">同方云公告</a></li>
        </ul>
      </div>
      <section class="content-main" id="content-main">
        <div class="inner">
          <div class="left-content">
            <div class="news">
              <% for(var i = 0; i < notices.length; i ++) { %>
                <div class="item">
                  <div class="intro">
                    <a class="title" href="/notice/<%= notices[i].id %>" ><%= notices[i].title %></a>
                    <div class="detail">
                      <% let reg = /^<.*>$/ %>
                      <% if((notices[i].content).length > 50 && notices[i].content.replace(reg, '')){ %>
                      <div class="detail"><%- notices[i].content.slice(0,50) %>...</div>
                      <% } else {  %>
                        <div class="detail"><%- notices[i].content && notices[i].content.replace(reg, '') %>...</div>
                      <% } %>
                    </div>
                    <p class="brief"><span class="date"><%= new Date(notices[i].createdAt).getFullYear() + '. ' + (new Date(notices[i].createdAt).getMonth() + 1) + '. ' + new Date(notices[i].createdAt).getDate() %></span></p>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="scroll"></div>
          </div>
        </div>
      </section>
      <div class="pagination">
        <div id="pn" class="pn">
        </div>
      </div>
    </article>
  </div>
<%- include('../../../components/footer.ejs') %>