<%- include('../../../components/header.ejs') %>
  <div class="volcano-news">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
            <img src="/static/assets/news-views/list/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="aboutyouyun" href="/about/milestones"><%= breadcrumb_two %></a>&nbsp;/</li>
              <li class="third">&nbsp;<%= breadcrumb_three %></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- main content -->
      <section class="content-main" id="content-main" count="<%= Math.ceil(count / limit) %>" page="<%= page %>">
        <div class="inner">
          <div class="left-content">
            <div class="news">
              <% for(var i = 0; i < articles.length; i ++) { %>
                <div class="item">
                  <% if (articles[i].cover) { %>
                    <img class="img" src="<%= articles[i].cover %>" />
                  <% } else { %>
                    <img class="img" src="/static/assets/blog-views/list/holder.png" />
                  <% } %>
                  <div class="intro">
                    <a class="title" href="/news/<%= articles[i].url %>" ><%= articles[i].title %></a>
                    <div class="detail"><%= articles[i].introduction %></div>
                    <p class="brief"><span class="author"><%= articles[i].authorName %></span><span class="date">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<%= new Date(articles[i].createdAt).getFullYear() + '. ' + (new Date(articles[i].createdAt).getMonth() + 1) + '. ' + new Date(articles[i].createdAt).getDate() %></span></p>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="scroll"></div>
          </div>
          <div class="right-content">
            <div class="down hidden">
              <i class="icon-arrow-down"></i>
            </div>
            <div class="search">
              <div class="input"><input placeholder="<%= search %>" /></div>
              <div class="icon_srch"><i class="icon-search"></i></div>
            </div>
            <div class="tags">
              <div class="tags-title"><%= hot_tags %></div>
              <div class="tags-content">
                <% for(var i = 0; i < news_tags.length; i ++) { %>
                  <a class="tags-item" tag="<%= news_tags[i].tag %>"><%= news_tags[i].tag %></a>
                <% } %>
              </div>
            </div>
            <div class="head-line">
              <div class="title head-title"><%= head_line %></div>
              <div class="head-content">
                <ul>
                  <% for(var i = 0; i < news_tops.length; i ++) { %>
                    <li class="head-li">
                      <% if (news_tops[i].dataValues.cover) { %>
                        <img class="head-img" src="<%= news_tops[i].dataValues.cover %>" />
                      <% } else { %>
                         <img class="head-img" src="/static/assets/blog-views/list/holder.png" />
                      <% } %>
                      <a class="head-a" href="/news/<%= news_tops[i].dataValues.url %>"><%= news_tops[i].dataValues.title %></a>
                    </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="pagination">
        <div id="pn" class="pn">
        </div>
      </div>
    </article>
  </div>
<%- include('../../../components/footer.ejs') %>