<%- include('../../../../../components/header.ejs') %>
<div class="product-hardware">
  <article>
    <section class="content-banner">
      <div class="type-area">
        <div class="banner">
          <div class="banner-title"><%= banner_title %></div>
          <div class="banner-brief"><%= banner_brief %></div>
          <div class="banner-describe"><%= banner_describe %></div>
          <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
        </div>
      </div>
      <img class="banner-img" src="/static/assets/page-views/product/hardware/tower-server/banner.jpg">
    </section>
    <div class="breadcrumb">
      <ul class="breadcrumb-center">
        <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
        <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
        <li class="third"><%= breadcrumb_three %></li>
      </ul>
    </div>
    <div class="first-block">
      <div class="bg-size">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/tower-server/8.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/tower-server/mobile_1.png" />
          <div class="title-bg">
            <div class="title-left">
              <span>超强TP1200塔式服务器</span>
              <div class="intro">超强TP1200采用基于Intel C232芯片组的ATX版型服务器主板提供高达1个PCI-E x16、1个PCI-E x8和4个PCI的高规格I/O扩展插槽兼容老式PCI板卡的同时，保障客户后期应用扩展能力。</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/yellow.png"/>
                <span>灵活的扩展能力</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>兼容老式PCI板卡，宽裕的空间使部件排布更从容，更合理，具有更好的稳定性</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>采用40L大机箱，主板的每个扩展插槽均能够安装全高扩展卡，为客户扩展应用需求提供保障</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/green.png"/>
                <span>稳定可靠</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>保障了服务器过硬的质量和超强的稳定性</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>精准的转换减少浪费，并带来更稳定电压</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>数字供电控制提供最佳的供电效率，以超快感应和相应提供精准的供电</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>通过对主板，散热器及电源的协同优化，有更好的静音能力，通过对主板，散热器及电源的协同优化，有更好的静音能力</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue_1.png"/>
                <span>数据安全</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>供完善的磁盘阵列解决方案，性价比更高，实际应用更多</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>提供更好的性能、更广泛的应用和更安全的数据存储方式</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/color.png"/>
                <span>支持虚拟化</span>
              </div>
              <div class="body-content content-color">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>精准的转换减少浪费，并带来更稳定电压</span>
              </div>
              <div class="body-content content-color">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>数字供电控制提供最佳的供电效率，以超快感应和相应提供精准的供电</span>
              </div>
              <div class="body-content content-color">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>经过严格的兼容性和可靠性测试，从根本上保障服务器过硬的质量和超强的稳定性</span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/tower-server/4.jpg"></img>
              <div class="foot-head">强悍性能</div>
              <div class="foot-foot">支持Intel Xeon E3-1200v5/v6系列处理器，具备4个DDR4内存插槽，64G内存扩展能力和4个3.5英寸硬盘仓,集成SATA RAID 0\1\10\5</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/tower-server/3.jpg"></img>
              <div class="foot-head">强扩展能力</div>
              <div class="foot-foot">支持2个PCI-E、1个MIO、4个PCI全高扩展槽，选配：8声道MIO声卡、DVDRW光驱，前置2个USB3.0高速接口与音频接口</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/tower-server/5.jpg"></img>
              <div class="foot-head">安静舒适</div>
              <div class="foot-foot">通过对主板，散热器及电源的协同优化，具有更好的散热能力和静音能力，在 50%负载的情况下，标准配置的整机噪音不超过 30dB。</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-size even-color">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/tower-server/7.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/tower-server/mobile_2.png" />
          <div class="title-bg">
            <div class="title-left">
              <span class="even-color">超强TR270双路塔式服务器</span>
              <div class="intro odd-color">借助TR630 24个全闪存驱动器的配置，构建快速事务处理数据库。将24个1.8英寸固态硬盘的密度、可扩展性和性能与双PERC功能相结合，即可构建一款可存储整个数据库的卓越解决方案</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/yellow.png"/>
                <span class="even-color">强大性能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span class="even-color">可选独立高端RAID卡，提供更好的性能、更广泛的应用和更安全的数据存储方式</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span class="even-color">在服务器高负荷运转时提供了更好的稳定性，并为用户后续扩展应用和配置提供强力支持</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span class="even-color">服务器整机全部采用一线大厂部件，并经过严格的兼容性和可靠性测试，从根本上保障了服务器过硬的质量和超强的稳定性</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span class="even-color">具备高达8个内存插槽512G内存扩展能力和6个PCI-E扩展插槽，提供强大的性能和超高的扩展能力，尤其适合大规模运算和虚拟化等高级应用</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/green.png"/>
                <span class="even-color">远程管控</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span class="even-color">提供iKVM远程管理功能，远程管理模块基于BIOS层面作业，让使用者可通过键盘、显示器和鼠标(KVM over Ethernet)在远程对系统进行实时监控和包含开关机在内的实时操作</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span class="even-color">系统管理人员只需本地计算机就可在任何时间、任何地点进行上述作业、解决系统可能出现的问题</span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/tower-server/2.jpg"></img>
              <div class="foot-head even-color">强悍性能</div>
              <div class="foot-foot even-color">载Intel Xeon E5-2600 V3/V4系列处理器，具备高达8个内存插槽512G内存扩展能力和6个PCI-E扩展插槽</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/tower-server/11222.jpg"></img>
              <div class="foot-head even-color">强扩展能力</div>
              <div class="foot-foot even-color">标配支持高达5个3.5英寸硬盘位</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/tower-server/6543.jpg"></img>
              <div class="foot-head even-color">自主可控</div>
              <div class="foot-foot even-color">纯粹的民族品牌，自主可控，顺应IT产品国产化的潮流，铸造民族精品。</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-size">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/tower-server/6.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/tower-server/mobile_3.png" />
          <div class="title-bg">
            <div class="title-left">
              <span>超强TP180普通与中小型企业应用</span>
              <div class="intro">超强TP180 清华同方超强TP180是一款纯粹的民族品牌
                自主可控，顺应IT产品国产化的潮流，铸造民族精品
                专为普教与中小型企业应用设计。</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/yellow.png"/>
                <span>灵活的扩展能力</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>宽裕的空间使部件排布更从容，更合理，具有更好的稳定性</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>采用40L大机箱，具有更好的散热能力和静音能力，标准大机箱保证了强大的扩展能力</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>提供高达1个PCI-E x16和3个PCI-E x8的高规格I/O扩展插槽，保障客户后期应用扩展能力</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/green.png"/>
                <span>稳定可靠</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>以超快感应和相应提供精准的供电。精准的转换减少浪费，并带来更稳定电压</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>服务器整机全部采用一线大厂部件，从根本上保障了服务器过硬的质量和超强的稳定性</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>搭载2个服务器级英特尔® I210AT千兆网卡接口，数据传输更快速</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>提供高网络连接带宽、负载平衡以及容错功能，以提高虚拟化流量的方法减少虚拟化环境中的数据处理瓶颈</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>可选独立高端RAID卡，提供更好的性能、更广泛的应用和更安全的数据存储方式</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue_1.png"/>
                <span>远程管控</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>提供iKVM远程管理功能，远程管理模块基于BIOS层面作业，让使用者可通过键盘、显示器和鼠标(KVM over Ethernet)在远程对系统进行实时监控和包含开关机在内的实时操作</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/tower-server/blue.png"/>
                <span>系统管理人员只需本地计算机就可在任何时间、任何地点进行上述作业、解决系统可能出现的问题</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-size" style="background: #F9FAFB;">
      <div class="product-content">
        <div class="product-left">
          <div class="left-title">完美的硬件产品</div>
          <div class="left-content">清华同方在服务器领域一直秉持“专业、专注、持续创新”的理念，洞悉所需，“计”高一筹，稳如磐石，“分毫”逼争。基于对客户的深刻理解，清华同方为客户提供高性能、高可靠、高能效的It基础设施。</div>
        </div>
        <div class="product-right">
          <a class="right-one" href="/product/hardware/rack-server">
            <span class="title-one title">【机架式服务器】</span>
            <img src="/static/assets/page-views/product/hardware/tower-server/rack.png"></img>
            <span class="span">了解更多</span>
          </a>
          <a class="right-two" href="/product/hardware/blade-server">
            <span class="title-two title">【刀片式服务器】</span>
            <img src="/static/assets/page-views/product/hardware/tower-server/blade.png"></img>
            <span class="span">了解更多</span>
          </a>
          <a class="right-three" href="/product/hardware/enterprise-storage">
            <span class="title-three title">【企业级存储】</span>
            <img src="/static/assets/page-views/product/hardware/tower-server/ent.png"></img>
            <span class="span">了解更多</span>
          </a>
        </div>
      </div>
    </div>
  </article>
</div>
<%- include('../../../../../components/footer.ejs') %>