<%- include('../../../../components/header.ejs') %>
<div class="main">
  <article>
    <section class="content-banner">
      <div class="type-area">
        <div class="banner">
          <div class="banner-title"><%= banner_title %></div>
          <div class="banner-brief"><%= banner_brief %></div>
          <div class="banner-describe"><%= banner_describe %></div>
          <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
        </div>
      </div>
      <div class="banner-img" style="background:url(/static/assets/page-views/support/quality-assurance/banner.jpg) no-repeat center center;background-size:cover"></div>
      <!-- <img class="banner-img-mobile" src="/static/assets/page-views/support/quality-assurance/banner-m.png"> -->
    </section>
    <div class="breadcrumb">
      <ul class="breadcrumb-center">
        <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
        <li class="second"><a class="success" href="/support/product-service"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
        <li class="third"><%= breadcrumb_three %></li>
      </ul>
    </div>
  </article>
  <section class="content">
    <div class="main-content">
      <div class="service-agreement">
        <nav class="agreement-nav">
          <ul class="clearfix">
            <li><%= first_agreement_title %></li>
            <li><%= second_agreement_title %></li>
            <li><%= third_agreement_title %></li>
            <li><%= fourth_agreement_title %></li>
            <li><%= fifth_agreement_title %></li>
          </ul>
        </nav>
        <ul class="agreement-list">
          <li class="agreement-wrapper">
            <div class="agreement-title"><%= first_agreement_title %></div>
            <ul class="agreement-content-list">
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon1.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= first_agreement_item1_desc %>
                  </div>
                  <div class="agreement-detail">
                    <%= first_agreement_item1_detail %>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon2.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= first_agreement_item2_desc %>
                  </div>
                  <div class="agreement-detail">
                    <section class="detail-sect">
                      <%= first_agreement_item2_detail1 %>
                    </section>
                    <section class="detail-sect">
                      <%= first_agreement_item2_detail2 %>
                    </section>
                    <section class="detail-sect">
                      <%= first_agreement_item2_detail3 %>
                    </section>
                    <section class="detail-sect">
                      <%= first_agreement_item2_detail4 %>
                    </section>
                    <section class="detail-sect">
                      <%= first_agreement_item2_detail5 %>
                    </section>
                    <section class="detail-sect">
                      <%= first_agreement_item2_detail6 %>
                    </section>                  
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon3.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= first_agreement_item3_desc %>
                  </div>
                  <div class="agreement-detail">
                    <%= first_agreement_item3_detail %>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon4.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= first_agreement_item4_desc %>
                  </div>
                  <div class="agreement-detail">
                    <%= first_agreement_item4_detail %>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon5.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= first_agreement_item5_desc %>
                  </div>
                  <div class="agreement-detail">
                    <%= first_agreement_item5_detail %>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="agreement-wrapper">
            <div class="agreement-title"><%= second_agreement_title %></div>
            <ul class="agreement-content-list">
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon6.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= second_agreement_item1_desc %>
                  </div>
                  <div class="agreement-detail">
                    <section class="detail-sect">
                      <%=  second_agreement_item1_detail1 %>
                    </section>
                    <section class="detail-sect">
                      <%=  second_agreement_item1_detail2 %>
                    </section>
                    <section class="detail-sect">
                      <%=  second_agreement_item1_detail3 %>
                    </section>
                    <section class="detail-sect">
                      <%=  second_agreement_item1_detail4 %>
                    </section>
                    <section class="detail-sect">
                      <%=  second_agreement_item1_detail5 %>
                    </section> 
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon7.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= second_agreement_item2_desc %>
                  </div>
                  <div class="agreement-detail">
                    <section class="detail-sect">
                      <%= second_agreement_item2_detail1 %>
                    </section>
                    <section class="detail-sect">
                      <%= second_agreement_item2_detail2 %>
                    </section>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon8.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= second_agreement_item3_desc %>
                  </div>
                  <div class="agreement-detail">
                    <%= second_agreement_item3_detail %>
                  </div>
                </div>
              </li>
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon9.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= second_agreement_item4_desc %>
                  </div>
                  <div class="agreement-detail">
                    <%= second_agreement_item4_detail %>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="agreement-wrapper">
            <div class="agreement-title"><%= third_agreement_title %></div>
            <ul class="agreement-content-list">
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon10.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= third_agreement_item1_desc %>
                  </div>
                  <div class="agreement-detail">
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail1 %>
                    </section>
                     <section class="detail-sect">
                      <%= third_agreement_item1_detail2 %>
                    </section>
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail3 %>
                    </section>
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail4 %>
                    </section>
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail5 %>
                    </section>
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail6 %>
                    </section>
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail7 %>
                    </section>
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail8 %>
                    </section>
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail9 %>
                    </section>
                    <section class="detail-sect">
                      <%= third_agreement_item1_detail10 %>
                    </section>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="agreement-wrapper">
            <div class="agreement-title"><%= fourth_agreement_title %></div>
            <ul class="agreement-content-list">
              <li class="clearfix">
                <div class="symbol">
                  <img src="/static/assets/page-views/support/quality-assurance/icon11.png" alt="">
                </div>
                <div class="agreement-content">
                  <div class="agreement-desc">
                    <%= fourth_agreement_item1_desc %>
                  </div>
                  <div class="agreement-detail">
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail1 %>
                    </section>
                     <section class="detail-sect">
                      <%= fourth_agreement_item1_detail2 %>
                    </section>
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail3 %>
                    </section>
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail4 %>
                    </section>
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail5 %>
                    </section>
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail6 %>
                    </section>
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail7 %>
                    </section>
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail8 %>
                    </section>
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail9 %>
                    </section>
                    <section class="detail-sect">
                      <%= fourth_agreement_item1_detail10 %>
                    </section>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="agreement-wrapper">
            <div class="agreement-title"><%= fifth_agreement_title %></div>
            <div class="agreement-table-title">
              <%= fifth_agreement_desc %>
            </div>
            <table>
              <thead>
                <tr>
                  <td><%= fifth_agreement_left_theader %></td>
                  <td><%= fifth_agreement_right_theader %></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= fifth_agreement_t11_content %></td>
                  <td><%= fifth_agreement_t12_content %></td>
                </tr>
                <tr>
                  <td><%= fifth_agreement_t21_content %></td>
                  <td><%= fifth_agreement_t22_content %></td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<%- include('../../../../components/footer.ejs') %>