<%- include('../../../../components/header.ejs') %>
  <div class="volcano-clients">
    <article >
    <div id="page">
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
          <img src="/static/assets/page-views/solution/clients/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/solution/clients"><%= breadcrumb_two %>&nbsp;/&nbsp;</a></li>
              <li class="third"><%= breadcrumb_three %></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="content-main">
        <div class="inner">
        <div class="part jinrong">
          <div class="title"><%= financial_title %></div>
          <ul class="flow">
            <li class="selected hengfeng">
              <div class="img"></div>
              <span class="name"><%= financial_one %></span>
              <div class="curtain"><%= curtain_jinrong_hengfeng %></div>
            </li>
            <li class="selected minsheng">
              <div class="img"></div>
              <span class="name"><%= financial_two %></span>
              <div class="curtain"><%= curtain_jinrong_minsheng %></div>
            </li>
            <li class="selected yinlian">
              <div class="img"></div>
              <span class="name"><%= financial_three %></span>
              <div class="curtain"><%= curtain_jinrong_yinlian %></div>
            </li>
            <li class="shanghai">
              <div class="img"></div>
              <span class="name"><%= financial_four %></span>
              <div class="curtain"><%= curtain_jinrong_shanghai %></div>
            </li>
            <li class="zhongxin">
              <div class="img"></div>
              <span class="name"><%= financial_five %></span>
              <div class="curtain"><%= curtain_jinrong_zhongxin %></div>
            </li>
          </ul>
          <div class="more"><%= more %><span class="icon-partners-clients"></span></div>
        </div>
        <div class="part zhengqi">
          <div class="title"><%=enterprise_cloud_title %></div>
          <ul class="flow">
            <li class="selected heilongjiang">
              <div class="img"></div>
              <span class="name"><%=enterprise_cloud_one %></span>
              <div class="curtain"><%= curtain_zhengqi_heilongjiang %></div>
              </li>
            <li class="selected zhengwu">
              <div class="img"></div>
              <span class="name"><%=enterprise_cloud_two %></span>
              <div class="curtain"><%= curtain_zhengqi_zhengwu %></div>
            </li>
            <li class="neimeng">
              <div class="img"></div>
              <span class="name"><%=enterprise_cloud_three %></span>
              <div class="curtain"><%= curtain_zhengqi_neimenggu %></div>
            </li>
            <li class="hebei">
              <div class="img"></div>
              <span class="name"><%=enterprise_cloud_four %></span>
              <div class="curtain"><%= curtain_zhengqi_hebei %></div>
            </li>
<!--        <li class="huazhong">
              <div class="img"></div>
              <span class="name"><%=enterprise_cloud_five %></span>
              <div class="curtain"><%= curtain_zhengqi_hebei %></div>
            </li> -->
            <li  class="selected jiaoda">
              <div class="img"></div>
              <span class="name"><%=enterprise_cloud_six %></span>
              <div class="curtain"><%= curtain_zhengqi_jiaoda %></div>
            </li>
          </ul>
          <div class="more"><%= more %><span class="icon-partners-clients"></span></div>
        </div>
        <div class="part chanye">
          <div class="title"><%= industry_cloud_title %></div>
          <ul class="flow">
            <li class="selected">
              <div class="img"></div>
              <span class="name"><%= industry_cloud_one %></span>
              <div class="curtain"><%= curtain_chanye_meidi %></div>
            </li>
            <li class="selected">
              <div class="img"></div>
              <span class="name"><%= industry_cloud_two %></span>
              <div class="curtain"><%= curtain_chanye_oppo %></div>
            </li>
            <li class="selected">
              <div class="img"></div>
              <span class="name"><%= industry_cloud_three %></span>
              <div class="curtain"><%= curtain_chanye_protruly %></div>
            </li>
            <li>
              <div class="img"></div>
              <span class="name"><%= industry_cloud_four %></span>
              <div class="curtain"><%= curtain_chanye_boe %></div>
            </li>
            <li>
              <div class="img"></div>
              <span class="name"><%= industry_cloud_five %></span>
              <div class="curtain"><%= curtain_chanye_telecom %></div>
            </li>
            <li class="wanda">
              <div class="img"></div>
              <span class="name"><%= industry_cloud_six %></span>
              <div class="curtain"><%= curtain_chanye_wanda %></div>
            </li>
          </ul>
          <div class="more"><%= more %><span class="icon-partners-clients"></span></div>
        </div>
        </div>
      </section>
    </div>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>