<%- include('../../../../components/header.ejs') %>
  <div class="ashe-identify">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/page-views/about/identify/banner2.jpg) no-repeat center center;background-size:cover"></div>
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/about/company"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <section class="content-main">
        <div class="wraper">
          <div class="volcano-common-content">
              <div class="contain">
                <div class="title">
                  <h1><%= flag %></h1>
                    <%= flag_content%>
                </div>
                  <ul class="content">
                    <li class="line">
                        <p>
                            <img src="/static/common/assets/tongfang1_72dpi.png" alt="TongFang cloud logo">
                            <span>2017.11</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line" >
                                685 x 281 pixels, 72 dpi.png (14k)
                                <span>
                                    <a href="/static/common/assets/tongfang1_72dpi.png"><%= preview %></a>/ <a href="/static/common/assets/tongfang1_72dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                2854 x 1171 pixels, 300 dpi.png (72k)
                                <span>
                                    <a href="/static/common/assets/tongfang1_300dpi.png"><%= preview %></a>/ <a href="/static/common/assets/tongfang1_300dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.ai (54kb)
                                <span>
                                    <a href="/static/common/assets/tongfang1_72dpi.png"><%= preview %></a>/ <a href="/static/common/assets/tongfang1.ai.zip"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <img src="/static/common/assets/tongfang2_72dpi.png" alt="TongFang cloud logo">
                            <span>2017.11</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line">
                                216 x 80 pixels, 72 dpi.png (24k)
                                <span>
                                    <a href="/static/common/assets/tongfang2_72dpi.png"><%= preview %></a>/ <a href="/static/common/assets/tongfang2_72dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                2854 x 1171 pixels, 300 dpi.png (54k)
                                <span>
                                    <a href="/static/common/assets/tongfang2_300dpi.png"><%= preview %></a>/ <a href="/static/common/assets/tongfang2_300dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.ai (1.1M)
                                <span>
                                    <a href="/static/common/assets/tongfang2_72dpi.png"><%= preview %></a>/ <a href="/static/common/assets/tongfang2.ai.zip"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <img src="/static/common/assets/tongfang3_72dpi.png" alt="TongFang cloud logo">
                            <span>2017.11</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line">
                                298 x 247 pixels, 72 dpi.png (10k)
                                <span>
                                    <a href="/static/common/assets/tongfang3_72dpi.png"><%= preview %></a>/ <a href="tongfang3_72dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                1237 x 1027 pixels, 300 dpi.png (47k)
                                <span>
                                    <a href="/static/common/assets/tongfang3_300dpi.png"><%= preview %></a>/ <a href="/static/common/assets/tongfang3_300dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.ai (1.1M)
                                <span>
                                    <a href="/static/common/assets/tongfang3_72dpi.png"><%= preview %></a>/ <a href="/static/common/assets/tongfang3.ai.zip"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
        </div>
      </section>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>