<%- include('../../../../components/header.ejs') %>
  <div class="ashe-identify">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/page-views/about/identify/banner2.jpg) no-repeat center center;background-size:cover"></div>
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/about/company"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <section class="content-main">
        <div class="wraper">
          <div class="volcano-common-content">
              <div class="contain">
                <div class="title">
                  <h1><%= flag %></h1>
                    <%= flag_content%>
                </div>
                  <ul class="content">
                    <li class="line">
                        <p>
                            <img src="/static/common/assets/tongfangyouyun-logo72dpi-2018-1.jpg" alt="TongFang cloud logo">
                            <span>2018.01</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line" >
                                1890 x 608 pixels, 72 dpi.jpg (102.8k)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo72dpi-2018-1.jpg"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo72dpi-2018-1.jpg.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                1890 x 608 pixels, 300 dpi.jpg (102.8k)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo300dpi-2018-1.jpg"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo300dpi-2018-1.jpg.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.ai (106.1kb)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo72dpi-2018-1.jpg"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo-2018-1.ai.zip"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <img src="/static/common/assets/tongfangyouyun-logo-black-2018-1.png" alt="TongFang cloud logo">
                            <span>2018.01</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line">
                                455 x 147 pixels, 72 dpi.png (6.8k)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo-black-72dpi-2018-1.png"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo-black-72dpi-2018-1.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                1890 x 608 pixels, 300 dpi.png (129.7k)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo-black-300dpi-2018-1.jpg"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo-black-300dpi-2018-1.jpg.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.ai (51.5k)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo-black-72dpi-2018-1.png"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo-black-2018-1.ai.zip"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <img src="/static/common/assets/tongfangyouyun-logo-upanddown-72dpi-2018.1.png" alt="TongFang cloud logo">
                            <span>2018.01</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line">
                                184 x 162 pixels, 72 dpi.png (8.5k)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo-upanddown-72dpi-2018.1.png"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo-upanddown-72dpi-2018.1.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                763 x 672 pixels, 300 dpi.png (618.5k)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo-upanddown-300dpi-2018-1.jpg"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo-upanddown-300dpi-2018-1.jpg.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.ai (1.2M)
                                <span>
                                    <a href="/static/common/assets/tongfangyouyun-logo-upanddown-72dpi-2018.1.png"><%= preview %></a>/ <a href="/static/common/assets/tongfangyouyun-logo-upanddown-2018-1.ai.zip"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
        </div>
      </section>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>