<%- include('../../../../components/header.ejs') %>
  <div class="ashe-identify">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/page-views/about/identify/banner.jpg) no-repeat center center;background-size:cover"></div>
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/about/company"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <section class="content-main">
        <div class="wraper">
          <div class="volcano-common-content">
              <div class="contain">
                <div class="title">
                  <h1><%= flag %></h1>
                    <%= flag_content%>
                </div>
                  <ul class="content">
                    <li class="line">
                        <p>
                            <img src="/static/assets/page-views/about/identify/UnitedStack Logo_horizontal_72dpi.png" alt="UnitedStack Logo_horizontal_72dpi">
                            <span>2015.11</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line" >
                                378 x 80 pixels, 72 dpi.png (19k)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_horizontal_72dpi.png"><%= preview %></a>/ <a href="http://dn-dev-ustack.qbox.me/UnitedStack%20Logo_horizontal_72dpi.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                1576 x 333 pixels, 300 dpi.png (112k)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_horizontal_72dpi.png"><%= preview %></a>/ <a href="http://7xi9fz.com1.z0.glb.clouddn.com/UnitedStack%20Logo_vertical_300dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.eps (3.2M)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_horizontal_72dpi.png"><%= preview %></a>/ <a href="http://dn-dev-ustack.qbox.me/UnitedStack%20Logo_horizontal.eps"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <img src="/static/assets/page-views/about/identify/UnitedStack Logo_horizontal_pure color_72dpi.png" alt="UnitedStack Logo_horizontal_72dpi">
                            <span>2015.11</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line">
                                378 x 80 pixels, 72 dpi.png (13k)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_horizontal_pure color_72dpi.png"><%= preview %></a>/ <a href="http://dn-dev-ustack.qbox.me/UnitedStack%20Logo_horizontal_pure%20color_72dpi.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                1576 x 333 pixels, 300 dpi.png (53k)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_horizontal_pure color_72dpi.png"><%= preview %></a>/ <a href="http://dn-dev-ustack.qbox.me/UnitedStack%20Logo_horizontal_pure%20color_300dpi.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.eps (3M)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_horizontal_pure color_72dpi.png"><%= preview %></a>/ <a href="http://dn-dev-ustack.qbox.me/UnitedStack%20Logo_horizontal_pure%20color.eps"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <img src="/static/assets/page-views/about/identify/UnitedStack Logo_vertical_72dpi.png" alt="UnitedStack Logo_horizontal_72dpi">
                            <span>2015.11</span>
                        </p>
                        <h2><%= prompt %></h2>
                        <ul>
                            <li class="line">
                                180 x 124 pixels, 72 dpi.png (12k)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_vertical_72dpi.png"><%= preview %></a>/ <a href="http://7xi9fz.com1.z0.glb.clouddn.com/UnitedStack%20Logo_vertical_72dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                750 x 516 pixels, 300 dpi.png (60k)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_vertical_72dpi.png"><%= preview %></a>/ <a href="http://7xi9fz.com1.z0.glb.clouddn.com/UnitedStack%20Logo_vertical_300dpi.png.zip"><%= download %></a>
                                </span>
                            </li>
                            <li class="line">
                                <%= extendmeta %>.eps (2.5M)
                                <span>
                                    <a href="/static/assets/page-views/about/identify/UnitedStack Logo_vertical_72dpi.png"><%= preview %></a>/ <a href="http://dn-dev-ustack.qbox.me/UnitedStack%20Logo_vertical.eps"><%= download %></a>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
        </div>
      </section>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>