<%- include('../../../../components/header.ejs') %>
  <div class="volcano-partners">
    <article >
    <div id="page" class="partners">
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
          <img src="/static/assets/page-views/solution/partners/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/solution/clients"><%= breadcrumb_two %>&nbsp;/&nbsp;</a></li>
              <li class="third"><%= breadcrumb_three %></li>
            </ul>
            </div>
        </div>
      </section>
      <!-- content-main-->
      <div id="v1-page-partner-0">
        <div point="v1-page-partner-0" class="content-main" id="partnerList">
          <div class="wraper">
           <div class="volcano-common-content">
              <ul class="partners">
                  <li class="partner">
                    <div class="wraper">
                      <div class="inner">
                        <div class="picture picture-cisco">
                          <i class="icon-minus"></i>
                          <i class="icon-plus"></i>
                        </div>
                        <p class="font cis"><%= cisco %></p>
                      </div>
                      <div class="more"><%= more %></div>
                    </div>
                  </li>
                  <li class="partner center">
                    <div class="wraper">
                      <div class="inner">
                        <div class="picture picture-rackspace">
                          <i class="icon-plus"></i>
                          <i class="icon-minus"></i>
                        </div>
                        <p class="font rack"><%= rack %></p>
                      </div>
                      <div class="more"><%= more %></div>
                    </div>
                  </li>
                  <li class="partner">
                    <div class="wraper ">
                      <div class="inner">
                        <div class="picture picture-citrix">
                          <i class="icon-plus"></i>
                          <i class="icon-minus"></i>
                        </div>
                        <p class="font cit"><%= cit %></p>
                      </div>
                     <div class="more"><%= more %></div>
                    </div>
                  </li>
                  <li class="partner">
                    <div class="wraper">
                      <div class="inner">
                        <div class="picture picture-intel">
                          <i class="icon-plus"></i>
                          <i class="icon-minus"></i>
                        </div>
                        <p class="font intel"><%= intel %></p>
                      </div>
                      <div class="more"><%= more %></div>
                    </div>
                  </li>
                  <li class="center partner">
                    <div class="wraper">
                      <div class="inner">
                        <div class="picture picture-zhongjin">
                          <i class="icon-plus"></i>
                          <i class="icon-minus"></i>
                        </div>
                        <p class="font zj"><%= zj %></p>
                      </div>
                      <div class="more"><%= more %></div>
                    </div>
                  </li>
                  <li class="partner">
                    <div class="wraper">
                      <div class="inner">
                        <div class="picture picture-wanguo">
                          <i class="icon-plus"></i>
                          <i class="icon-minus"></i>
                        </div>
                        <p class="font wg"><%= wg %></p>
                      </div>
                      <div class="more"><%= more %></div>
                    </div>
                  </li>
                  <li class="partner">
                     <div class="wraper">
                      <div class="inner">
                        <div class="picture picture-senhua">
                          <i class="icon-plus"></i>
                          <i class="icon-minus"></i>
                        </div>
                        <p class="font sh"><%= sh %></p>
                      </div>
                      <div class="more"><%= more %></div>
                    </div>
                  </li>
                  <li class="partner center">
                    <div class="wraper">
                      <div class="inner">
                        <div class="picture picture-yunkefu">
                          <i class="icon-plus"></i>
                          <i class="icon-minus"></i>
                        </div>
                        <p class="font ykf"><%= ykf %></p>
                      </div>
                      <div class="more"><%= more %></div>
                    </div>
                  </li>
                  <div class="cloth"></div>
              </ul>
              <ul class="plist">
                  <li>
                      <img src="/static/assets/page-views/solution/partners/1.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/2.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/3.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/4.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/5.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/6.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/7.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/8.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/9.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/10.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/11.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/12.png" alt="">
                  </li>
                  <li>
                      <img src="/static/assets/page-views/solution/partners/13.png" alt="">
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>