<%- include('../../../components/header.ejs') %>
<div class="volcano-login">
  <div class="login-wrapper">
    <div class="title"><%= login %></div>
    <div class="content">
      <input autofocus="autofocus" class="email" type="text" placeholder="<%= us %>" />
      <div class="pwd-wrapper">
        <input id="pwd" class="password" type="password" placeholder="<%= pwd %>" />
        <i id="icon-eye" class="icon-eye"></i>
      </div>
      <div class="checkbox-wrapper">
        <div class="left">
          <input class="forget-pwd" type="checkbox" name="forget-pwd" /><%= forget_one %>
        </div>
        <a href="/account/forget"><%= forget_two %></a>
      </div>
      <div id="captcha-tip" class="error-tip"></div>
      <input class="submit" type="submit" value="<%= login_immediately %>" />
    </div>
    <div class="bottom">
      <%= no_regist %><a href="/account/register"><%= regist %></a>
    </div>
  </div>
</div>
<div class="volcano-global-footer">
  <div class="row-1">
    ©2017 UnitedStack Inc. All Rights Reserved. <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">京ICP备13015821号</a>
  </div>
  <div class="row-2">
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020347">京公网安备 11010802020347号</a>
  </div>
</div>
</body>
<script src="/static/third-party/jquery-3.2.1.min.js"></script>
<script src="/static/common/js/global.js"></script>
<script src="<%=jsFile %>"></script>
</html>