<%- include('../../../../components/header.ejs') %>
  <div class="ashe-cloud-security">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <img class="banner-img" src="/static/assets/page-views/product/cloud-security/banner.jpg">
        <!-- <img class="banner-img-mobile" src="/static/assets/page-views/product/cloud-security/banner-m.png"> -->
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <!-- main -->
      <div class="content-main">
        <div class="laneye">
          <p class="shuiyin">LanyEye</p>
          <p class="title"><%= laneye_title_one %><span><%= laneye_title_two %></span></p>
          <p class="brief"><%= laneye_intro %></p>
          <div class="feature">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature1.png">
              <p class="item_title"><%= laneye_feature_title_one %></p>
              <p class="item_intro"><%= laneye_feature_intro_one %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature2.png">
              <p class="item_title"><%= laneye_feature_title_two %></p>
              <p class="item_intro"><%= laneye_feature_intro_two %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature3.png">
              <p class="item_title"><%= laneye_feature_title_three %></p>
              <p class="item_intro"><%= laneye_feature_intro_three %></p>
            </div>
          </div>
          <div class="performance">
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-security/icon1.png">
              <p class="performance-title"><%= performance_title_one %></p>
              <p class="performance-intro"><%= performance_intro_one %></p>
            </div>
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-security/icon2.png">
              <p class="performance-title"><%= performance_title_two %></p>
              <p class="performance-intro"><%= performance_intro_two %></p>
            </div>
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-security/icon3.png">
              <p class="performance-title"><%= performance_title_three %></p>
              <p class="performance-intro"><%= performance_intro_three %></p>
            </div>
            <div class="performance-item">
              <img src="/static/assets/page-views/product/cloud-security/icon4.png">
              <p class="performance-title"><%= performance_title_four %></p>
              <p class="performance-intro"><%= performance_intro_four %></p>
            </div>
          </div>
        </div>
        <div class="lanyan-function">
          <div class="center">
            <p class="product">产品<span>功能</span></p>
            <div class="center-function">
              <div class="function-item">
              <img class="normal" src="/static/assets/page-views/product/cloud-security/feature4.png">
              <img class="hover" src="/static/assets/page-views/product/cloud-security/function1-h.png">
              <p class="line"></p>
              <p class="function-brief"><%= function_brief_one %></p>
              <div class="mo-function-intro"><%= function_intro_one %></div>
              </div>
              <div class="function-intro"><%= function_intro_one %></div>
              <div class="function-item even">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature5.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function2-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= function_brief_two %></p>
                <div class="mo-function-intro"><%= function_intro_two %></div>
              </div>
              <div class="function-intro"><%= function_intro_two %></div>
              <div class="function-item">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature6.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function3-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= function_brief_three %></p>
                <div class="mo-function-intro"><%= function_intro_three %></div>
              </div>
              <div class="function-intro"><%= function_intro_three %></div>
            </div>
          </div>
        </div>
        <div class="lanyan-framework">
          <img src="/static/assets/page-views/product/cloud-security/framework1.png">
        </div>
        <div class="strip"></div>
        <div class="lansky">
          <p class="shuiyin">LANYSKY</p>
          <p class="title"><%= lansky_title_one %><span><%= lansky_title_two %></span></p>
          <p class="brief"><%= lansky_intro %></p>
          <div class="feature">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature7.png">
              <p class="item_title"><%= lansky_feature_title_one %></p>
              <p class="item_intro"><%= lansky_feature_intro_one %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature8.png">
              <p class="item_title"><%= lansky_feature_title_two %></p>
              <p class="item_intro"><%= lansky_feature_intro_two %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature9.png">
              <p class="item_title"><%= lansky_feature_title_three %></p>
              <p class="item_intro"><%= lansky_feature_intro_three %></p>
            </div>
          </div>
        </div>
        <div class="lansky-function">
          <div class="center">
            <p class="product">产品<span>功能</span></p>
            <div class="center-function">
              <div class="function-item">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature10.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function4-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= lansky_function_brief_one %></p>
                <div class="mo-function-intro"><%= lansky_function_intro_one %></div>
              </div>
              <div class="function-intro"><%= lansky_function_intro_one %></div>
              <div class="function-item even">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature11.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function5-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= lansky_function_brief_two %></p>
                <div class="mo-function-intro"><%= lansky_function_intro_two %></div>
              </div>
              <div class="function-intro"><%= lansky_function_intro_two %></div>
              <div class="function-item">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature12.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function6-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= lansky_function_brief_three %></p>
                <div class="mo-function-intro"><%= lansky_function_intro_three %></div>
              </div>
              <div class="function-intro"><%= lansky_function_intro_three %></div>
            </div>
            <div class="center-function">
              <div class="function-item even">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature13.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function7-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= lansky_function_brief_four %></p>
                <div class="mo-function-intro"><%= lansky_function_intro_four %></div>
              </div>
              <div class="function-intro"><%= lansky_function_intro_four %></div>
              <div class="function-item">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature14.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function8-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= lansky_function_brief_five %></p>
                <div class="mo-function-intro"><%= lansky_function_intro_five %></div>
              </div>
              <div class="function-intro"><%= lansky_function_intro_five %></div>
              <div class="function-item even">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature15.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function9-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= lansky_function_brief_six %></p>
                <div class="mo-function-intro"><%= lansky_function_intro_six %></div>
              </div>
              <div class="function-intro"><%= lansky_function_intro_six %></div>
            </div>
          </div>
        </div>
        <div class="lansky-framework">
          <img src="/static/assets/page-views/product/cloud-security/framework2.png">
        </div>
        <div class="strip"></div>

        <div class="languard">
          <p class="shuiyin">LANYGUARD</p>
          <p class="title"><%= languard_title_one %><span><%= languard_title_two %></span></p>
          <p class="brief"><%= languard_intro %></p>
          <div class="feature">
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature16.png">
              <p class="item_title"><%= languard_feature_title_one %></p>
              <p class="item_intro"><%= languard_feature_intro_one %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature17.png">
              <p class="item_title"><%= languard_feature_title_two %></p>
              <p class="item_intro"><%= languard_feature_intro_two %></p>
            </div>
            <div class="item">
              <img src="/static/assets/page-views/product/cloud-security/feature18.png">
              <p class="item_title"><%= languard_feature_title_three %></p>
              <p class="item_intro"><%= languard_feature_intro_three %></p>
            </div>
          </div>
        </div>
        <div class="languard-function">
          <div class="center">
            <p class="product">产品<span>功能</span></p>
            <div class="center-function">
              <div class="function-item">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature19.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function10-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= languard_function_brief_one %></p>
                <div class="mo-function-intro"><%= languard_function_intro_one %></div>
              </div>
              <div class="function-intro"><%= languard_function_intro_one %></div>
              <div class="function-item even">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature20.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function11-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= languard_function_brief_two %></p>
                <div class="mo-function-intro"><%= languard_function_intro_two %></div>
              </div>
              <div class="function-intro"><%= languard_function_intro_two %></div>
              <div class="function-item">
                <img class="normal" src="/static/assets/page-views/product/cloud-security/feature21.png">
                <img class="hover" src="/static/assets/page-views/product/cloud-security/function12-h.png">
                <p class="line"></p>
                <p class="function-brief"><%= languard_function_brief_three %></p>
                <div class="mo-function-intro"><%= languard_function_intro_three %></div>
              </div>
              <div class="function-intro"><%= languard_function_intro_three %></div>
            </div>
          </div>
        </div>
        <div class="languard-framework">
          <img src="/static/assets/page-views/product/cloud-security/framework3.png">
        </div>
        <div class="strip"></div>
      </div>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>