<%- include('../../../../components/header.ejs') %>
<div class="main">
  <article>
    <section class="content-banner">
      <div class="type-area">
        <div class="banner">
          <div class="banner-title"><%= banner_title %></div>
          <div class="banner-brief"><%= banner_brief %></div>
          <div class="banner-describe"><%= banner_describe %></div>
          <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
        </div>
      </div>
      <div class="banner-img" style="background:url(/static/assets/page-views/train/train-apply/banner2.jpg) no-repeat center center;background-size:cover"></div>
      <!-- <img class="banner-img-mobile" src="/static/assets/page-views/train/train-apply/banner-m.png"> -->
    </section>
    <div class="breadcrumb">
      <ul class="breadcrumb-center">
        <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
        <li class="second"><a class="success" href="/train/technical-train"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
        <li class="third"><%= breadcrumb_three %></li>
      </ul>
    </div>
  </article>
  <section class="content">
    <div class="main-content">
      <div class="application-form-wrapper">
        <form action="" id="application-form">
          <div class="form-title">
            <%= form_title %>
          </div>
          <div class="form-info">
            <%= form_info %>
          </div>
          <div class="name-field">
            <div class="title"><%= name_title %></div>
            <input type="text" name="name" id="name"
             maxlength="60" />
            <div class="message">
              <div class="error-msg"><%= name_error_msg %></div>
              <div class="correct-msg"><%= name_correct_msg %></div>
            </div>
          </div>
          <div class="phone-field">
            <div class="title"><%= phone_title %></div>
            <input type="text" name="phone" id="phone"
            />
            <div class="message">
              <div class="error-msg"><%= phone_error_msg %></div>
              <div class="correct-msg"><%= phone_correct_msg %></div>
            </div>
          </div>
          <div class="email-field">
            <div class="title"><%= email_title %></div>
            <input type="text" name="email" id="email"
            />
            <div class="message">
              <div class="error-msg"><%= email_error_msg %></div>
              <div class="correct-msg"><%= email_correct_msg %></div>
            </div>
          </div>
          <div class="company-field">
            <div class="title"><%= company_title %></div>
            <input type="text" name="company" id="company"
            maxlength="80" />
            <div class="message">
              <div class="error-msg"><%= company_error_msg %></div>
              <div class="correct-msg"><%= company_correct_msg %></div>
            </div>
          </div>
          <div class="class-location-field">
            <div class="title"><%= class_location_title %></div>
            <ul class="clearfix">
            <% var locs = [loc1, loc2, loc3, loc4, loc5, loc6,
              loc7, loc8, loc9, loc10] %>
            <% for(var i = 1; i<= 10; i++) { %>
              <li>
                <input type="radio" id='<%= "loc"+i %>'
                  name="location" value="<%= locs[i-1] %>" data-index="<%= i - 1 %>"/>
                <label for='<%= "loc"+i %>'><%= locs[i-1] %></label>
              </li>
            <% } %>
            </ul>
            <div class="message">
                <div class="error-msg"><%= location_error_msg %></div>
                <div class="correct-msg"><%= location_correct_msg %></div>
            </div>
          </div>
          <div class="class-location-map">
            <canvas id="class-map" width="880" height="685" class="canvas">
              <%= doest_support_canvas %>
            </canvas>
          </div>
          <div class="btn-area">
            <button id="submitBtn"><%= submit_btn %></button>
          </div>
        </form>
      </div>
      <div class="question-info">
        <%= question_info %>
      </div>
    </div>
  </section>
</div>
<%- include('../../../../components/footer.ejs') %>