<div class="volcano-global-footer">
  <div id="volcano-totop" class="totop">
    <i class="icon-arrow-up"></i>
  </div>
  <div class="first">
    <div class="inner">
      <div class="left">
        <h6 class="title"><%= contact_us %></h6>
        <div class="phone">
          <i class="icon-phone"></i>400-898-5401
        </div>
        <div class="email">
          <i class="icon-email"></i>contact@unitedstack.com
        </div>
        <div class="copyright">Copyright © 2017</div>
        <div class="compony">优思得云计算科技（北京）有限公司</div>
        <div class="openstack">
          <img src="/static/assets/openstack-gold-member-badge.png" />
          <img src="/static/assets/openstack-logo-powered.png" />
          <img src="/static/assets/openstack-logo-training.png" />
        </div>
      </div>
      <div class="center">
        <div class="column-1">
          <div class="item-1">
            <div class="title"><%= produce %></div>
            <p><a href="/product/uos-enterprise">UOS Enterprise</a></p>
            <p><a href="/product/uos-director">UOS Director</a></p>
            <p><a href="/product/uos-halo">UOS Manager</a></p>
            <p><a href="/product/uos-operation-monitor">UOS Operator</a></p>
          </div>
          <div class="item-2">
            <h6 class="title"><%= stories %></h6>
            <p><a href="/solution/clients"><%= clients %></a></p>
            <p><a href="/solution/partners"><%= partners %></a></p>
          </div>
        </div>
        <div class="column-2">
          <div class="item-1">
            <div class="title"><%= services_support %></div>
            <p><a href="/docs"><%= uos3 %></a></p>
            <p><a href="/blog?page=1"><%= blog %></a></p>
            <p><a href="/training/train"><%= train %></a></p>
            <p><a href="/training/train-list"><%= train_list %></a></p>
            <p><a href="/training/train-apply"><%= train_apply %></a></p>
          </div>
        </div>
        <div class="column-3">
          <div class="item-1">
            <div class="title"><%= private_cloud %></div>
            <p><a href="/private-cloud/private-service"><%= services %></a></p>
            <p><a href="/private-cloud/private-skill"><%= support %></a></p>
            <p><a href="/private-cloud/private-start"><%= online_process %></a></p>
            <p><a href="/private-cloud/private-apply"><%= private_apply %></a></p>
          </div>
        </div>
        <div class="column-4">
          <div class="item-1">
            <div class="title"><%= about_us_header %></div>
            <p><a href="/about/milestones"><%= milestones %></a></p>
            <p><a href="/about/company"><%= company %></a></p>
            <p><a href="/news?page=1"><%= news %></a></p>
            <p><a href="/about/identify"><%= identify %></a></p>
            <p><a href="/about/jobs"><%= jobs %></a></p>
            <p><a href="/about/contact-us"><%= contact_us %></a></p>
            <p><a href="/about/investor"><%= investor %></a></p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="title"><%= follow_us %></div>
        <div class="item-1">
          <p class="title"><%= wechat %></p>
          <img src="/static/assets/wechat.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="second">
    <div class="wrapper">
      <div class="row-1">
        ©2017 UnitedStack Inc. All Rights Reserved. <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">京ICP备13015821号</a>
      </div>
      <div class="row-2">
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020347">京公网安备 11010802020347号</a>
      </div>
    </div>
  </div>
  <div class="mobile-footer">
    <div class="content-wrapper">
      <div class="header">
        <a href="javascript:void(0)"><%= produce %></a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="javascript:void(0)"><%= stories %></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="javascript:void(0)"><%= services_support %></a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="javascript:void(0)"><%= about_us_header %></a>
      </div>
      <div class="contact">
        <div class="title"><%= contact_us %></div>
        <a href="tel:400-898-5401" class="call">
          <i class="icon-phone"></i>
          400-898-5401
        </a>
      </div>
      <div class="footer">
        <img src="/static/assets/openstack-gold-member-badge.png" />
        <img src="/static/assets/openstack-logo-powered.png" />
        <img src="/static/assets/openstack-logo-training.png" />
        <p>Copyright © 2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优思得云计算科技（北京）有限公司</p>
      </div>
    </div>
  </div>
</div>
</body>
<script src="/static/third-party/jquery-3.2.1.min.js"></script>
<script src="/static/common/js/global.js"></script>
<script src="<%=jsFile %>">
</script>
</html>