<%- include('../../../../../components/header.ejs') %>
<div class="product-hardware">
  <article>
    <section class="content-banner">
      <div class="type-area">
        <div class="banner">
          <div class="banner-title"><%= banner_title %></div>
          <div class="banner-brief"><%= banner_brief %></div>
          <div class="banner-describe"><%= banner_describe %></div>
          <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
        </div>
      </div>
      <div class="banner-img" style="background:url(/static/assets/page-views/product/hardware/rack-server/banner.jpg) no-repeat center center;background-size:cover"></div>
    </section>
    <div class="breadcrumb">
      <ul class="breadcrumb-center">
        <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
        <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
        <li class="third"><%= breadcrumb_three %></li>
      </ul>
    </div>
    <div class="first-block">
      <div class="bg-size">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/rack-server/1.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/rack-server/mobile_6.png" />
          <div class="title-bg">
            <div class="title-left even-color">
              <span><%= rack %></span>
              <div class="intro">用途广泛的双路2U机架式服务器高性能 高效率 用途广 易管理</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/yellow.png"/>
                <span><%= tough_performance %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= speed_up %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= performance_char %></span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/green.png"/>
                <span><%= innovation_management %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= efficient %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= controller %></span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue_1.png"/>
                <span><%= efficiency %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= helping %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= reduce %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= get_deep %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= optimizing %></span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/color.png"/>
                <span><%= more %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= environment_one %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= low_cost %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= trxd %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span><%= storage_one %></span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/1-1.jpg"></img>
              <div class="foot-head"><%= robust %></div>
              <div class="foot-foot"><%= support_inte %></div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/china_con_img02-copy.jpg"></img>
              <div class="foot-head"><%= high_network %></div>
              <div class="foot-foot"><%= ethernet_ports %></div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/5432.jpg"></img>
              <div class="foot-head"><%= downtime_risk %></div>
              <div class="foot-foot"><%= high_availability %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-size even-color">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/rack-server/2.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/rack-server/-5.png" />
          <div class="title-bg">
            <div class="title-left">
              <span  class="even-color">超强TR630处理器</span>
              <div class="intro odd-color">借助TR630 24个全闪存驱动器的配置，构建快速事务处理数据库。将24个1.8英寸固态硬盘的密度、可扩展性和性能与双PERC功能相结合，即可构建一款可存储整个数据库的卓越解决方案。</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/yellow.png"/>
                <span  class="even-color"><%= tough_performance %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">能够提供密度较高、资源丰富的中型虚拟化环境</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">可构建一款能够存储整个数据库的卓越解决方案，进而有效提升性能</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/green.png"/>
                <span class="even-color">通过智能自动化实现创新管理</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">快速检查系统运行状况详情。</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">IT运营更加高效，提升同方服务器的效率、可靠性和成本效益快速检查系统运行状况详情。</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue_1.png"/>
                <span class="even-color">显著提高运营效率</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">快速检查系统运行状况详情</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">快速、安全地在本地监控或修改服务器关键设置</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">轻松地部署或修改多个服务器的设置，从而消除出现配置错误的可能性</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/color.png"/>
                <span class="even-color"><%= more %></span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">节省空间、能源和资本成本</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">提供密度较高、资源丰富的中型虚拟化环境</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">提升数据存取的速度，并在其他联网服务器之间共享高速缓存的优势</span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/2234.jpg"></img>
              <div class="foot-head even-color">节省电力开支</div>
              <div class="foot-foot even-color">采用80PLUS白金级高效电源，电源转换效率高，节能环保，节省用户电力开支</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/333.jpg"></img>
              <div class="foot-head even-color">高网络传输能力</div>
              <div class="foot-foot even-color">标配高达4个千兆网口，提供高速网络传输能力。可选万兆网口，提供更多I/O选择</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/6543.jpg"></img>
              <div class="foot-head even-color">独立的管理网口</div>
              <div class="foot-foot even-color">独立的管理网口，支持KVM OVER IP远程管理功能</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-size">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/rack-server/3.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/rack-server/-4.png" />
          <div class="title-bg">
            <div class="title-left">
              <span>超强TR4120双路系列</span>
              <div class="intro">超强TR4120双路控制器服务器准系统将主板扩展卡集成在一个控制器模组中并通过高速信号连接器同背板构成热插拔结构给您带来更便捷的维护条件</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/yellow.png"/>
                <span>高性能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>性能较传统硬盘接口提升数倍</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>适用于对空间、性能要求较高的大规模网络应用环境</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/green.png"/>
                <span>模块化，热插拔</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>控制器、风扇、电源及硬盘都采用全模块化设计</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>部件出现故障，只需抽出控制器模块即可进行维护</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue_1.png"/>
                <span>海量内存，无线缆化</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>整机实现无线缆化设计</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>提升了系统的可靠性和散热性能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>单节点最高支持16根DDR4内存；RDIMM最大容量支持1TB</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/color.png"/>
                <span>高扩展性</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>控制器模组集成4个千兆网口和2个万兆光口</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>控制器模组支持4块全高PCI-E扩展卡, 并可支持2块GPU显卡</span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/tr630.jpg"></img>
              <div class="foot-head">高性能</div>
              <div class="foot-foot">采用2颗并行排列的Intel® Xeon® E5-2600 V3/V4系列处理器，搭配1个X4 PCIE 3.0的M.2高速接口</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/8.jpg"></img>
              <div class="foot-head">高扩展性</div>
              <div class="foot-foot">控制器模组支持4块全高PCI-E扩展卡, 并可支持2块GPU显卡；控制器模组集成4个千兆网口和2个万兆光口；</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/9.jpg"></img>
              <div class="foot-head">BBU掉电保护</div>
              <div class="foot-foot">在突发停电的情况下，系统将自动启用的内置备用电池保存正在运行的数据，防止数据丢失和文件系统的破坏，可持续供电时间超过10分钟。</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-size even-color">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/rack-server/4.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/rack-server/-3.png" />
          <div class="title-bg">
            <div class="title-left odd-color">
              <span class="even-color">超强TR1210处理器</span>
              <div class="intro odd-color">是一款定位于视频监控、智慧城市、WEB等应用的单路1U机架服务器，它采用全新的英特尔Skylake架构处理器较上代产品系统性能提升了40%。</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/yellow.png"/>
                <span class="even-color">稳定可靠</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">超快感应和相应提供精准的供电</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">精准的转换减少浪费，并带来更稳定电压</span>
              </div>
              <div class="body-content">              <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">根本上保障了服务器过硬的质量和超强的稳定性</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/green.png"/>
                <span class="even-color">高速网络</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">板载双千兆网络控制器，极大提高网络数据吞吐能力</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">可实现冗余、网络负载均衡， 使得本服务器可提供强大的网络服务能力</span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/china_con_img05_02.jpg"></img>
              <div class="foot-head even-color">强悍性能</div>
              <div class="foot-foot even-color">支持Intel Xeon E3-1200v5/v6系列处理器，具备4个DDR4内存插槽，64G内存扩展能力和2个3.5英寸硬盘仓,集成SATA RAID 0\1</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/11.jpg"></img>
              <div class="foot-head even-color">强扩展能力</div>
              <div class="foot-foot even-color">最大支持1个PCI-E 3.0 x16全高扩展卡，前置2个USB2.0高速接口，内置USB3.0接口,选配DVDRW超薄光驱</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/interface.jpg"></img>
              <div class="foot-head even-color">强大的网络稳定性</div>
              <div class="foot-foot even-color">板载双千兆网络控制器，提高网络数据吞吐能力。并可实现冗余、网络负载均衡</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-size">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/rack-server/5.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/rack-server/-2.png" />
          <div class="title-bg">
            <div class="title-left">
              <span>TR730XD机架式服务器</span>
              <div class="intro">是一款定位于视频监控、智慧城市、WEB等应用的单路1U机架服务器，采用全新的英特尔Skylake架构处理器较上代产品系统性能提升了40%。</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/yellow.png"/>
                <span>实现强悍性能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>采用动态本地存储新技术，显著提升应用程序性能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>借助可从正面拆卸的设备，可快速轻松地进行扩展</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>使用混合存储配置，并实现高效的分层存储</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>结合24个硬盘和双PERC功能，可有效提升存储性能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>利用同方高速缓存新技术，可进一步提升应用程序性能</span>
              </div>
              <div class="body-img" style="margin-top: 40px;">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/green.png"/>
                <span>用途更广泛</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>提升应用程序性能，并通过服务器内存储分层加快数据访问速度</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>高效的横向扩展存储，满足当今XaaS提供商、Hadoop/大数据用户和主机托管的需求</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue_1.png"/>
                <span>大幅提高运营效率</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>凭借更高的性能功耗比，优化数据中心的能耗</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>自动化的部署流程，减少手动步骤，减少人为错误</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>超强服务器可构造和管理适用于数据中心和小型企业的高效基础架构</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span>获得深入的系统运行状况信息并加快部署，进而提升数据中心的IT效率</span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/china_con_img02.jpg"></img>
              <div class="foot-head">独立管理网口</div>
              <div class="foot-foot">独立的管理网口，支持KVM OVER IP远程管理功能</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/china_con_img02-copy.jpg"></img>
              <div class="foot-head">安静散热</div>
              <div class="foot-foot">严谨科学的散热设计，风道设计合理，使服务器部件得到良好的散热处理，并降低运行噪音</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/china_con_img02-copy-2.jpg"></img>
              <div class="foot-head">面板资产标签</div>
              <div class="foot-foot">人性化前面板资产标签设计，为用户机房管理提供便利</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-size even-color">
        <div class="img-bg">
          <img class="pc-img" src="/static/assets/page-views/product/hardware/rack-server/6.jpg" />
          <img class="mobile-img" src="/static/assets/page-views/product/hardware/rack-server/-1.png" />
          <div class="title-bg">
            <div class="title-left odd-color">
              <span  class="even-color">超强TR930机架式服务器</span>
              <div class="intro odd-color">清华同方超强TR930是一款计算密集型机架式服务器具有高度可扩展的内存和与之匹配的超强I/O能力能够运行大中型企业的任务关键型应用程序。</div>
            </div>
          </div>
        </div>
        <div class="hardware-content">
          <div class="hardware-body">
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/yellow.png"/>
                <span class="even-color">出色的扩展性能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">可以灵活进行扩展，从而优化事务处理与操作并显著减少延迟</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">借助Intel E7 RAS功能保护任务关键型和数据密集型应用程序</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">具有多达8个PCIe固态硬盘，可优化计算、内存和I/O方面的性能</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img even-color">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/green.png"/>
                <span class="even-color">提升应用程序性能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">利用成本更低且更小的DIMM，以符合成本效益的方式扩展内存</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">利用PCIe 3.0 RAID卡实现I/O带宽翻倍</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue_1.png"/>
                <span class="even-color">全天候无中断运行</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">拥有丰富的可靠性、可用性和可维护性(RAS)功能</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">提供受保护的内存分区来保护虚拟机，防止出现可能导致停止运行的内存故障</span>
              </div>
            </div>
            <div class="body-one">
              <div class="body-img">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/color.png"/>
                <span class="even-color">企业级系统管理</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">帮助IT管理员对物理、虚拟、本地和远程环境中的服务器进行免代理管理</span
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">多管理员虚拟控制台、虚拟介质和远程文件共享</span>
              </div>
              <div class="body-content">
                <img class="mobile-body" src="/static/assets/page-views/product/hardware/rack-server/blue.png"/>
                <span class="even-color">全面的监控和管理控制台，能简化和自动执行基本的硬件管理任务</span>
              </div>
            </div>
          </div>
          <div class="hardware-foot">
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/china_con_img02.jpg"></img>
              <div class="foot-head  even-color">强扩展能力</div>
              <div class="foot-foot even-color">采用内存扩展板方式，提供更高的容量和更好的稳定性，支持最高96条DDR4内存的大容量内存扩展能力</div>
            </div>
            <div class="foot-img  even-color">
              <img src="/static/assets/page-views/product/hardware/rack-server/china_con_img02-copy.jpg"></img>
              <div class="foot-head even-color">高网络传输能力</div>
              <div class="foot-foot even-color">最大支持1个PCI-E 3.0 x16全高扩展卡，前置2个USB2.0高速接口，内置USB3.0接口,选配DVDRW超薄光驱</div>
            </div>
            <div class="foot-img">
              <img src="/static/assets/page-views/product/hardware/rack-server/china_con_img02-copy-2.jpg"></img>
              <div class="foot-head even-color">强悍计算性能</div>
              <div class="foot-foot even-color">支持高达4颗Intel Xeon E7-4800V2系列处理器，最大可达到60个核心，提供强大计算性能</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-size" style="background: #F9FAFB;">
      <div class="product-content">
        <div class="product-left">
          <div class="left-title">完美的硬件产品</div>
          <div class="left-content">清华同方在服务器领域一直秉持“专业、专注、持续创新”的理念，洞悉所需，“计”高一筹，稳如磐石，“分毫”逼争。基于对客户的深刻理解，清华同方为客户提供高性能、高可靠、高能效的It基础设施。</div>
        </div>
        <div class="product-right">
          <a class="right-one" href="/product/hardware/blade-server">
            <span class="title-one">【刀片式服务器】</span>
            <img src="/static/assets/page-views/product/hardware/rack-server/blade.png"></img>
            <span>了解更多</span>
          </a>
          <a class="right-two" href="/product/hardware/tower-server">
            <span class="title-two">【塔式服务器】</span>
            <img src="/static/assets/page-views/product/hardware/rack-server/tower.png"></img>
            <span>了解更多</span>
          </a>
          <a class="right-three" href="/product/hardware/enterprise-storage">
            <span class="title-three">【企业级存储】</span>
            <img src="/static/assets/page-views/product/hardware/rack-server/ent.png"></img>
            <span>了解更多</span>
          </a>
        </div>
      </div>
    </div>
  </article>
</div>
<%- include('../../../../../components/footer.ejs') %>