<%- include('../../../../components/header.ejs') %>
  <div class="volcano-private-service">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
          <img src="/static/assets/page-views/private-cloud/private-service/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/private-cloud/private-service"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/private-cloud/private-service"><%= breadcrumb_three %></a>&nbsp;/&nbsp;</li>
              <li class="third"><%= breadcrumb_four %></li>
            </ul>
            </div>
        </div>
      </section>
      <!-- end for banner -->
      <!-- content -->
      <section class="content-main">
      <div class="subject"><%= subject %></div>
        <div class="inner">
          <div class="service-part">
            <div class="image">
              <img src="/static/assets/page-views/private-cloud/private-service/service1.png">
            </div>
            <div class="introduction"><%= subject_introduction %>
            </div>
          </div>
          <div class="service-list">
            <div class="classify">
              <div class="blueline"><%= subject_prepare %>
                <i class="icon-plus"></i>
                <i class="icon-minus"></i>
              </div>
              <ul>
                <li>
                  <span class="icon-private-service-1-1"></span>
                  <span class="title"><%= service_one_one_title %></span>
                  <span class="detail"><%= service_one_one_detail %></span>
                </li>
                <li>
                  <span class="icon-private-service-1-2"></span>
                  <span class="title"><%= service_one_two_title %></span>
                  <span class="detail"><%= service_one_two_detail %></span>
                </li>
                <li>
                  <span class="icon-private-service-1-3"></span>
                  <span class="title"><%= service_one_three_title %></span>
                  <span class="detail"><%= service_one_three_detail %></span>
                </li>
                 <a class="apply-once" href="/private-cloud/private-apply"><%= private_apply %></a>
              </ul>
            </div>
            <div class="classify">
              <div class="blueline"><%= subject_date %>
                <i class="icon-plus"></i>
                <i class="icon-minus"></i>
              </div>
              <ul>
                <li>
                  <span class="icon-private-service-2-1"></span>
                  <span class="title"><%= service_two_one_title %></span>
                  <span class="detail"><%= service_two_one_detail %></span>
                </li>
                <li>
                  <span class="icon-private-service-2-2"></span>
                  <span class="title"><%= service_two_two_title %></span>
                  <span class="detail"><%= service_two_two_detail %></span>
                </li>
                <li>
                  <span class="icon-private-service-2-3"></span>
                  <span class="title"><%= service_two_three_title %></span>
                  <span class="detail"><%= service_two_three_detail %></span>
                </li>
                <a class="apply-once" href="/private-cloud/private-apply"><%= private_apply %></a>
              </ul>
            </div>
            <div class="classify">
              <div class="blueline"><%= subject_technology %>
                <i class="icon-plus"></i>
                <i class="icon-minus"></i>
              </div>
              <ul>
                <li>
                  <span class="icon-private-service-3-1"></span>
                  <span class="title"><%= service_three_one_title %></span>
                  <span class="detail"><%= service_three_one_detail %></span>
                </li>
                <li>
                  <span class="icon-private-service-3-2"></span>
                  <span class="title"><%= service_three_two_title %></span>
                  <span class="detail"><%= service_three_two_detail %></span>
                </li>
                <li>
                  <span class="icon-private-service-3-3"></span>
                  <span class="title"><%= service_three_three_title %></span>
                  <span class="detail"><%= service_three_three_detail %></span>
                </li>
                <a class="apply-once" href="/private-cloud/private-apply"><%= private_apply %></a>
              </ul>
            </div>
            <a class="apply" href="/private-cloud/private-apply"><%= private_apply %></a>
          </div>
        </div>
      </section>
      <div class="mirror">
        <div class="title"><%= mirror_title %></div>
        <div class="section-subtitle2">
        <ul class="animate-picture">
          <li><img src="/static/assets/page-views/private-cloud/private-service/mirror.png"></li>
          <li><img src="/static/assets/page-views/private-cloud/private-service/mirror.png"></li>
          <li><img src="/static/assets/page-views/private-cloud/private-service/mirror.png"></li>
        </ul>
        <a href="/private-cloud/private-apply" class="applyto"><%= private_apply %></a>
      </div>
      <!-- end for content -->
    </article>
<%- include('../../../../components/footer.ejs') %>