<%- include('../../../components/header.ejs') %>
  <div class="volcano-about-news-detail">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
            <img src="/static/assets/news-views/detail/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/about/milestones"><%= breadcrumb_two %></a>&nbsp;/</li>
              <li class="third">&nbsp;<%= breadcrumb_three %></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- main content -->
      <section class="content-main">
        <div class="inner">
          <div class="left-content">
            <div class="news">
              <div class="item">
                <div class="title"><%= article.title %></div>
                <p class="brief">
                  <span class="author"><%= article.authorName %></span>
                  <%if(article.createdAt){%>
                  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="date"><%= new Date(article.createdAt).getFullYear() + '. ' + (new Date(article.createdAt).getMonth() + 1) + '. ' + new Date(article.createdAt).getDate() %></span>
                  <%}%>
                </p>

                <div class="detail wangEditor-container" style="border: none">
                  <div class="wangEditor-txt" style="padding: 0" content="<%= article.content %>"></div>
                </div>
              </div>
              <div class="share">
                <i class="icon-wechat"></i>
                <i class="icon-weibo"></i>
                <i class="icon-facebook"></i>
                <i class="icon-twitter"></i>
              </div>
              <div class="page-link">
                <% if (prev_article) { %>
                  <div class="prev"><p><%= prev %></p><a prev="<%= prev_article.title %>" href="/news/<%= prev_article.url %>"></a></div>
                <% } %>
                <% if (next_article) { %>
                  <div class="next"><p><%= next %></p> <a next="<%= next_article.title %>" href="/news/<%= next_article.url %>"></a></div>
                <% } %>
              </div>
            </div>
            <div class="scroll"></div>
          </div>
          <div class="right-content">
            <div class="down hidden">
              <i class="icon-arrow-down"></i>
            </div>
            <div class="search">
              <div class="input"><input placeholder="<%= search %>" /></div>
              <div class="icon_srch"><i class="icon-search"></i></div>
            </div>
            <div class="tags">
              <div class="tags-title"><%= hot_tags %></div>
              <div class="tags-content">
                <% for(var i = 0; i < news_tags.length; i ++) { %>
                  <a class="tags-item" href="/news/tag/<%= news_tags[i].tag %>"><%= news_tags[i].tag %></a>
                <% } %>
              </div>
            </div>
            <div class="head-line">
              <div class="title head-title"><%= head_line %></div>
              <div class="head-content">
                <ul>
                  <% for(var i = 0; i < news_tops.length; i ++) { %>
                    <li class="head-li">
                      <% if (news_tops[i].dataValues.cover) { %>
                        <img class="head-img" src="<%= news_tops[i].dataValues.cover %>" />
                      <% } else { %>
                         <img class="head-img" src="/static/assets/blog-views/list/holder.png" />
                      <% } %>
                      <a class="head-a" href="/news/<%= news_tops[i].dataValues.url %>"><%= news_tops[i].dataValues.title %></a>
                    </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>
<%- include('../../../components/footer.ejs') %>
