<%- include('../../../../components/header.ejs') %>
  <div class="ashe-partners">
    <article >
      <!-- banner -->
      <!-- main -->
      <section class="content-main">
        <div class="wrapper">
        <div class="partners-detail">
            <div class="list">
              <img src="/static/assets/page-views/about/partners/cisco.png">
              <p class="brief"><%= brief_one %></p>
            </div>
            <div class="list">
              <img src="/static/assets/page-views/about/partners/rackspace.png">
              <p class="brief"><%= brief_two %></p>
            </div>
            <div class="list">
              <img src="/static/assets/page-views/about/partners/citrix.png">
              <p class="brief"><%= brief_three %></p>
            </div>
            <div class="list">
              <img src="/static/assets/page-views/about/partners/intel.png">
              <p class="brief"><%= brief_four %></p>
            </div>
            <div class="list">
              <img src="/static/assets/page-views/about/partners/zj.png">
              <p class="brief"><%= brief_five %></p>
            </div>
            <div class="list">
              <img src="/static/assets/page-views/about/partners/wanguo.png">
              <p class="brief"><%= brief_six %></p>
            </div>
            <div class="list">
              <img src="/static/assets/page-views/about/partners/senhua.png">
              <p class="brief"><%= brief_seven %></p>
            </div>
            <div class="list">
              <img src="/static/assets/page-views/about/partners/yc.png">
              <p class="brief"><%= brief_eight %></p>
            </div>
        </div>
        <div class="mobile-partners-detail">
            <div class="list">
              <img class="bg" src="/static/assets/page-views/about/partners/1.jpeg">
              <img class="m-img" src="/static/assets/page-views/about/partners/m-1.png">
              <p class="brief"><%= brief_one %></p>
            </div>
            <div class="list">
              <img class="bg" src="/static/assets/page-views/about/partners/2.jpeg">
              <img class="m-img" src="/static/assets/page-views/about/partners/m-2.png">
              <p class="brief"><%= brief_two %></p>
            </div>
            <div class="list">
              <img class="bg" src="/static/assets/page-views/about/partners/3.jpg">
              <img class="m-img" src="/static/assets/page-views/about/partners/m-3.png">
              <p class="brief"><%= brief_three %></p>
            </div>
            <div class="list">
              <img class="bg" src="/static/assets/page-views/about/partners/4.jpeg">
              <img class="m-img" src="/static/assets/page-views/about/partners/m-4.png">
              <p class="brief"><%= brief_four %></p>
            </div>
            <div class="list">
              <img class="bg" src="/static/assets/page-views/about/partners/5.jpeg">
              <img class="m-img" src="/static/assets/page-views/about/partners/m-5.png">
              <p class="brief"><%= brief_five %></p>
            </div>
            <div class="list">
              <img class="bg" src="/static/assets/page-views/about/partners/6.jpeg">
              <img class="m-img" src="/static/assets/page-views/about/partners/m-6.png">
              <p class="brief"><%= brief_six %></p>
            </div>
            <div class="list">
              <img class="bg" src="/static/assets/page-views/about/partners/7.jpg">
              <img class="m-img" src="/static/assets/page-views/about/partners/m-7.png">
              <p class="brief"><%= brief_seven %></p>
            </div>
            <div class="list">
              <img class="bg" src="/static/assets/page-views/about/partners/8.jpeg">
              <img class="m-img" src="/static/assets/page-views/about/partners/m-8.png">
              <p class="brief"><%= brief_eight %></p>
            </div>
        </div>
        <div class="partners-img">
            <div class="item"><img src="/static/assets/page-views/about/partners/1.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/2.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/3.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/4.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/5.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/6.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/7.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/8.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/9.png"></div>
            <div class="item"><img src="/static/assets/page-views/about/partners/10.png"></div>
          </div>
        </div>
      </section>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>