<%- include('../../../../../components/header.ejs') %>
  <div class="volcano-news">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/page-views/support/tf-news/list/banner.png) no-repeat center center;background-size:cover"></div>
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <section class="content-main">
        <div class="inner">
          <div class="left-content">
            <div class="news">
              <div class="item">
                <div class="title">同方有云助力同方发力信息产业2.0</div>
                <p class="brief">
                  <span class="author">马嘉骏</span>
                  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="date">2017-11-16</span>
                </p>
                <div class="detail wangEditor-container" style="border: none">
                  <p>2017年11月，中国IT界的“云计算月”，清华同方、美团、滴滴、浪潮……从传统IT厂商到互联网巨头，纷纷走上了云路。践行十九大提出的云计算大数据高科技产业之路，厂商门众星捧云，中国的彩云之门已经打开。</p>
                  <p>11月16日，在发布云计算战略一周后，清华同方正式开启了全国十省市的云巡展，开幕的沈阳站共吸引了来自政府、教育、企业、金融等不同行业的100多位行业用户前来共同研讨。同方计算机总经理潘春节向大家描绘了同方计算机产业向2.0升级的宏伟蓝图，特别是在同方专注的领域，将以安全行业云为依托，向用户提供全方位的信息化解决方案。</p>
                  <div><img src="/static/assets/page-views/support/tf-news/detail-two/2-1.jpeg"><i>同方计算机总经理潘春节，阐释同方有云战略</i></div>
                  <p>为加快同方有云战略转型，清华同方目前已经与国内领先的开源云公司 UnitedStack有云达成控股并购的意向，并购完成之后，同方有云提供针对不同行业应用的云计算系列产品和解决方案，其产品与解决方案覆盖IT建设全栈，从基础环境建设、硬件设备，到云平台操作系统，再到存储、大数据、云安全产品与方案，直至深入到各个行业的行业云和应用，提供端到端的云计算解决方案一站式服务。携手全球合作伙伴共同构建开放的科技生态，为企业、政府、金融等用户的创新发展、重构核心竞争力提供坚实支撑。</p>
                  <div><img src="/static/assets/page-views/support/tf-news/detail-two/2-2.jpeg"><i>云计算巡展首站沈阳</i></div>
                  <div><img src="/static/assets/page-views/support/tf-news/detail-two/2-3.jpeg"><i>同方有云董事长程辉讲解同方云技术架构</i></div>
                  <p>同方整体云计算方案，严格按照国家关于信息安全等级保护等安全标准，进行架构和开发，在远程安全接入、边界防护、内网控制、数据中心保护、行为监管等方面，多产品的联动配合，能够响应国家标准中的安全技术要求和管理要求。作为国家大一级资质企业，业务覆盖智慧城市、智慧金融、智慧制造、智慧交通、智慧校园、智慧医疗、智慧农业等专业领域，为客户提供以云计算和大数据为核心的专业解决方案。</p>
                  <div><img src="/static/assets/page-views/support/tf-news/detail-two/2-4.jpeg"><i>同方信息产业发展方向</i></div>
                  <p>清华科技，荟萃同方，作为一家有着特殊背景和使命的民族企业，清华同方势必在云计算领域继续践行最高学府科技服务社会的理念，为中国的信息化建设和发展贡献自己的安全力量。</p>
                </div>
              </div>
              <div class="share">
                <i class="icon-wechat"></i>
                <i class="icon-weibo"></i>
                <i class="icon-facebook"></i>
              </div>
              <div class="page-link">
                <div class="prev"><p>上一篇</p> <a href="/support/tf-news/detail-one">同方云平台1月11日安全更新通告</a></div>
                  <div class="next"><p>下一篇</p> <a href="/support/tf-news/detail-three">悉尼峰会行 | 主题分享：大规模生产环境下Telemetry的使用</a></div>
                  <div class="next-mobile"><p>下一篇</p> <a href="/support/tf-news/detail-three">悉尼峰会行 | 主题分享：大规模生产环境下……</a></div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </div>
<%- include('../../../../../components/footer.ejs') %>