<%- include('../../../../components/header.ejs') %>
<div class="om-management">
  <article>
    <section class="content-banner">
      <div class="type-area">
        <div class="banner">
          <div class="banner-title"><%= banner_title %></div>
          <div class="banner-brief"><%= banner_brief %></div>
          <div class="banner-describe"><%= banner_describe %></div>
          <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
        </div>
      </div>
      <img class="banner-img" src="/static/assets/page-views/product/om-management/banner.jpg">
      <img class="banner-img-mobile" src="/static/assets/page-views/product/om-management/banner.jpg">
    </section>
    <div class="breadcrumb">
      <ul class="breadcrumb-center">
        <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
        <li class="second"><a class="success" href="/product/environment"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
        <li class="third"><%= breadcrumb_three %></li>
      </ul>
    </div>
    <div class="common">
      <div class="om-title">
        <div class="technical">TECHNICAL</div>
        <div class="support"><span><%= technical %></span><%= support %></div>
      </div>
      <div class="om-content"><%= technical_content %></div>
      <div class="om-footer">
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/1.png" />
          </div>
          <div class="footer-content"><%= bill_optimization %></div>
          <div class="footer-foot"><%= bill_optimization_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/2.png" />
          </div>
          <div class="footer-content"><%= technical_account_manager %></div>
          <div class="footer-foot"><%= technical_account_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/3.png" />
          </div>
          <div class="footer-content"><%= architecture %></div>
          <div class="footer-foot"><%= architecture_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/api.png" />
          </div>
          <div class="footer-content">Support API</div>
          <div class="footer-foot"><%= support_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/5.png" />
          </div>
          <div class="footer-content"><%= technical %><%= support %></div>
          <div class="footer-foot"><%= technical_support_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/6.png" />
          </div>
          <div class="footer-content"><%= advanced %></div>
          <div class="footer-foot"><%= advanced_content %></div>
        </div>
      </div>
    </div>
    <div class="common">
      <div class="om-title">
        <div class="technical">MAINTENANCE</div>
        <div class="support"><span><%= trusteeship %></span><%= operation %></div>
      </div>
      <div class="om-content"><%= maintenance %></div>
      <div class="om-footer">
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/2.png" />
          </div>
          <div class="footer-content"><%= exclusive %></div>
          <div class="footer-foot"><%= exclusive_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/2-2.png" />
          </div>
          <div class="footer-content"><%= active_diagnosis %></div>
          <div class="footer-foot"><%= active_diagnosis_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/2-3.png" />
          </div>
          <div class="footer-content"><%= support_response %></div>
          <div class="footer-foot"><%= support_response_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/2-4.png" />
          </div>
          <div class="footer-content"><%= bill_optimization %></div>
          <div class="footer-foot"><%= bill_optimization_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/2-5.png" />
          </div>
          <div class="footer-content"><%= maintenance_management %></div>
          <div class="footer-foot"><%= maintenance_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/2-6.png" />
          </div>
          <div class="footer-content"><%= business %></div>
          <div class="footer-foot"><%= business_content %></div>
        </div>
      </div>
    </div>
    <div class="common">
      <div class="om-title">
        <div class="technical">SERVICE</div>
        <div class="support"><%= custom_service %></div>
      </div>
      <div class="om-content"><%= custom_service_content %></div>
      <div class="om-footer">
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/3-1.png" />
          </div>
          <div class="footer-content"><%= aws %></div>
          <div class="footer-foot"><%= aws_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/3-2.png" />
          </div>
          <div class="footer-content"><%= migration_service %></div>
          <div class="footer-foot"><%= migration_content %></div>
        </div>
        <div class="footer-common">
          <div class="footer-title">
            <img src="/static/assets/page-views/product/om-management/3-3.png" />
          </div>
          <div class="footer-content"><%= support_response %></div>
          <div class="footer-foot"><%= support_response_content %></div>
        </div>
      </div>
    </div>
  </article>
</div>
<%- include('../../../../components/footer.ejs') %>