 <%- include('../../../../components/header.ejs') %>
  <div class="about-us">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
          <img src="/static/assets/page-views/about/company/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= word_title %></div>
              <div class="word-brief"><%= word_brief %></div>
              <div class="word-describe"><%= word_describe %></div>
            </div>
            <ul class="breadcrumb">
            <li class="first"><a class="firstpage" href="/"><%= firstpage %></a>&nbsp;/&nbsp;</li>
            <li class="second"><a class="success" href="/about/milestones"><%= about_unitedstack %></a>&nbsp;/&nbsp;</li>
            <li class="third"><%= about_us %></li>
            </ul>
          </div>
        </div>
      </section>
      <!--有云介绍-->
      <section class="content-main">
        <div class="wraper">
          <p class="title"><%= about_title %></p>
          <p class="detail detail-one"><%= about_one %></p>
          <p class="detail detail-two"><%= about_two %></p>
          <p class="detail detail-three"><%= about_three %></p>
          <p class="detail detail-four"><%= about_four %></p>
          <p class="detail detail-five"><%= about_five %></p>
          <a href="/about/contact-us " class="telus"><%= about_contact %></a>
        </div>
      </section>
      <!--有云列表-->
      <section class="content-list">
        <div class="wraper">
          <p class="title"><%= list_title %></p>
          <ul class="detail">
             <li class="flow">
              <span class="icon icon-about-1"></span>
              <span class="intro"><%= list_about_one %></span>
              <span class="part"><%= list_one_brief %></span>
            </li>
            <li class="flow">
              <span class="icon icon-about-2"></span>
              <span class="intro"><%= list_about_two %></span>
              <span class="part"><%= list_two_brief %></span>
            </li>
            <li class="flow"><span class="icon icon-about-3"></span>
              <span class="intro"><%= list_about_three %></span>
              <span class="part"><%= list_three_brief %></span>
            </li>
            <li class="flow"><span class="icon icon-about-4"></span>
              <span class="intro"><%= list_about_four %></span>
              <span class="part"><%= list_four_brief %></span>
            </li>
          </ul>
        </div>
      </section>
      <!--有云图片-->
      <section class="content-image">
        <div class="bgcontent">
          <a href="/news/openstacktokyo/" class="click-to-tokyo"><%= tokyo %></a>
          <a class="tokyo-text" href="/news/openstacktokyo/"><%= tokyo_engineer %></a>
        </div>
      </section>
      <!--CEO介绍-->
      <section class="content-introduction">
        <div class="wraper">
          <div class="left">
            <div class="photo"><img class="ch"src="/static/assets/page-views/about/company/chenghui.jpg" alt="程辉"></div>
            <p class="company">UnitedStack CEO</p>
            <p class="name"><%= ceo %></p>
          </div>
          <div class="right">
            <div class="quotation-marks-left">“</div>
            <div class="quotation-marks-text"><%= ustack_engineer %></div>
            <div class="quotation-marks-right">”</div>
          </div>
      </div>
    </section>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>
