 <%- include('../../../../components/header.ejs') %>
  <div class="about-us">
    <article>
      <section class="content-banner">
        <div class="type-area">
          <div class="banner">
            <div class="banner-title"><%= banner_title %></div>
            <div class="banner-brief"><%= banner_brief %></div>
            <div class="banner-describe"><%= banner_describe %></div>
            <div class="banner-describe-mobile"><%= banner_describe_mobile %></div>
          </div>
        </div>
        <div class="banner-img" style="background:url(/static/assets/page-views/about/company/banner2.jpg) no-repeat center center;background-size:cover"></div>
        <!-- <img class="banner-img-mobile" src="/static/assets/page-views/about/company/banner.jpg"> -->
      </section>
      <div class="breadcrumb">
        <ul class="breadcrumb-center">
          <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
          <li class="second"><a class="success" href="/about/company"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
          <li class="third"><%= breadcrumb_three %></li>
        </ul>
      </div>
      <div class="bg-size">
        <div class="about-title">
          <div class="head">ABOUT</div>
          <div class="foot">关于<span>清华同方</span></div>
        </div>
        <div class="about">
          <div class="about-body">
            <p>打造民族精品，创立百年品牌。清华同方，用心为中国做电脑。同方有云，用心为中国计算机产业做云计算服务。</p>
            <p>清华科技，荟萃同方。自1997年成立，历经18年，从萌芽到成长，从磨砺到蜕变，同方电脑作为国内两大PC厂商之一，销量稳居国内前三，全球十强，成绩斐然。同方电脑聚焦中国信息化，用心为中国做好每一台电脑。清华同方作为中央中直最大供应商，连续6年份额第一；国税集中采购连续4年份额第一；通过“军用信息安全产品认证”。</p>
            <p>从高教职教，到普通教育，从西南边陲到新疆双语教学，同方十余年来鼎力支持中国教育，被教育部评为“教育行业首选品牌”。用品质赢得客户，同方已成长为金融、能源等高端行业优质供应商。同方电脑投入资金和人力建成北京、台北、深圳、无锡、苏州、昆山等六个研发基地，以“随需而定，以人为本”为设计理念.在取得计算机研发生产市场领导地位的同时，开拓新的技术应用，角逐互联网应用内容服务新舞台。</p>
            <p>作为“国家安全可靠计算机信息系统集成重点企业”，清华同方，将秉承“科技服务社会”宗旨，继续在信息安全领域探索超越，为国家和民族发展保驾护航。2014年，厚积薄发的清华同方开始进军国际市场，在喀麦隆、刚果、乌兹别克斯坦、古巴、新加坡、巴西等十多个国家实现了落地销售，清华同方踏上了远洋出海的辉煌征程。</p>
          </div>
          <div class="about-footer">
            <div>
              <div class="foot-block">
                <img src="/static/assets/page-views/about/company/1.png" />
                <div class="title">专注</div>
                <div>对一切不专业零容忍</div>
              </div>
              <div class="foot-block two">
                <img src="/static/assets/page-views/about/company/2.png" />
                <div class="title">热情</div>
                <div>对梦想充斥狂热</div>
              </div>
            </div>
            <div>
              <div class="foot-block">
                <img src="/static/assets/page-views/about/company/3.png" />
                <div class="title">合作</div>
                <div>对队友充满尊敬</div>
              </div>
              <div class="foot-block last">
                <img src="/static/assets/page-views/about/company/4.png" />
                <div class="title">活力</div>
                <div>对openstack贡献活跃</div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-title">
          <div class="head">ABOUT US</div>
          <div class="foot">关于<span>同方有云</span></div>
        </div>
        <div class="cloud">
          <div class="cloud-title">
            同方有云成立于2013年2月，是中国市场重要的云计算解决方案提供商，是第一个在中国市场提供托管私有云服务的云公司，也是中国云计算领域第一个提供公有云和私有云区域节点完全一致的高可靠云服务的云公司，第一个通过互操作性认证的中国云计算服务商，也是中国第一家当选为OpenStack基金会黄金会员的创业公司。目前公司拥有38项软件著作或知识产权，国家级高新技术企业，并通过ISO9001、ISO27001、工信部软件测评、ITSS云服务认证、可信云解决方案、公安行业软件测评等权威认证，同方云产品基于世界领先的云计算技术构建，持续为行业客户提供功能完整的全栈式一体化云平台体验。
          </div>
        </div>
        <div class="about-title absolute">
          <div class="head">ADVANTAGE</div>
          <div class="foot">行业<span>优势</span></div>
        </div>
        <div class="cloud-body">
          <img class="mobile_img" src="/static/assets/page-views/about/company/Group.png" alt="同方云行业优势" />
          <img class="pc-img" src="/static/assets/page-views/about/company/Group23.png" alt="同方云行业优势" />
        </div>
        <div class="about-title">
          <div class="head">QUALIFICATION</div>
          <div class="foot">资格<span>认证</span></div>
        </div>
        <div class="authentication">
          <div class="auth">
            <img src="/static/assets/page-views/about/company/about.png">
          </div>
        </div>
        <div class="honor">
          <div class="about-title">
            <div class="head">HONOR</div>
            <div class="foot">我们的<span>荣誉</span></div>
          </div>
          <div class="block">
            <div class="honor-block"><p>国家认证创新性企业证书</p></div>
            <div class="honor-block"><p>国家认定企业技术成就奖</p></div>
            <div class="honor-block"><p>北京奥运、残奥会特别荣誉奖</p></div>
            <div class="honor-block"><p>北京奥运、残奥会贡献突出奖</p></div>
            <div class="honor-block"><p>中国电子信息百强企业</p></div>
            <div class="honor-block"><p>2015-2016年纳税信用A级企业证明</p></div>
            <div class="honor-block"><p>2015-2016年信用等级AAA级企业证书</p></div>
            <div class="honor-block"><p>教育行业信息化推荐品牌</p></div>
            <div class="honor-block"><p>中国企业500强</p></div>
            <div class="honor-block"><p>北京诚信经营承诺企业</p></div>
            <div class="honor-block"><p>全国文明诚信示范单位</p></div>
            <div class="honor-block"><p>政府采购奖节能环保贡献奖</p></div>
            <div class="honor-block"><p>高新技术企业</p></div>
            <div class="honor-block"><p>中国电子信息行业创新能力五十强企业</p></div>
            <div class="honor-block"><p>北京市科学技术奖</p></div>
            <div class="honor-block"><p>北京市实施用户满意工程（企业类）先进单位</p></div>
            <div class="honor-block"><p>十二五首批最佳社会责任企业</p></div>
            <div class="honor-block"><p>信息系统集成及服务大型一级企业</p></div>
            <div class="honor-block"><p>用户满意辉煌二十年优秀企业</p></div>
            <div class="honor-block"><p>CMMI软件开发能力三级证书</p></div>
            <div class="honor-block"><p>建筑智能化系统设计专项甲级证书</p></div>
            <div class="honor-block"><p>客户联络中心标准体系认证证书</p></div>
            <div class="honor-block"><p>建筑业企业资质证书</p></div>
            <div class="honor-block"><p>商用密码产品销售许可和生产定点单位</p></div>
          </div>
        </div>
      </div>
    </article>
  </div>
<%- include('../../../../components/footer.ejs') %>
