<%- include('../../../../components/header.ejs') %>
  <div class="volcano-about-milestones">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
          <img src="/static/assets/page-views/about/milestones/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/about/milestones"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
              <li class="third"><%= breadcrumb_three %></li>
            </ul>
            </div>
        </div>
      </section>
      <!-- end for banner -->
      <!-- content -->
      <section class="content-main">
      <div class="inner">
        <ul class="alljourney">
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/1Boston.png">
                <div class="curtain"><%= one_title %></div>
              </div>
              <span class="date">May.2017</span>
            </div>
            <div class="left">
              <div class="title"><%= one_title %></div>
              <div class="detail"><%= one_detail %></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/2Hadoop.png">
                <div class="curtain"><%= two_title %></div>
              </div>
              <span class="date">Mar.2017</span>
            </div>
            <div class="left">
              <div class="title"><%= two_title %></div>
              <div class="detail"><%= two_detail %></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/3project.png">
                <div class="curtain"><%= three_title %></div>
              </div>
              <span class="date">Oct.2016</span>
            </div>
            <div class="left">
              <div class="title"><%= three_title %></div>
              <div class="detail"><%= three_detail %></div>
              <div class="extend selected special"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/4feature.png">
                <div class="curtain"><%= four_title %></div>
              </div>
              <span class="date">May.2016</span>
            </div>
            <div class="left">
              <div class="title"><%= four_title %></div>
              <div class="detail"><%= four_detail %></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/5Austin.png">
                <div class="curtain"><%= five_title %></div>
              </div>
              <span class="date">Apr.2016</span>
            </div>
            <div class="left">
              <div class="title"><%= five_title %></div>
              <div class="detail"><%= five_detail %></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/6UOS.png">
                <div class="curtain"><%= six_title %></div>
              </div>
              <span class="date">Mar.2016</span>
            </div>
            <div class="left">
              <div class="title"><%= six_title %></div>
              <div class="detail"><%= six_detail %></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/7.png">
                <div class="curtain"><%= seven_title %></div>
              </div>
              <span class="date">Dec.2015</span>
            </div>
            <div class="left">
              <div class="title"><%= seven_title %></div>
              <div class="detail"><%= seven_detail %></div>
              <div class="extend selected"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/8.png">
                <div class="curtain"><%= eight_title %></div>
              </div>
              <span class="date">Oct.2015</span>
            </div>
            <div class="left">
              <div class="title"><%= eight_title %></div>
              <div class="detail"><%= eight_detail %></div>
            <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/9.png">
                <div class="curtain"><%= nine_title %></div>
              </div>
              <span class="date">Apr.2015</span>
            </div>
            <div class="left">
              <div class="title"><%= nine_title %></div>
              <div class="detail"><%= nine_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/10Service.png">
                <div class="curtain"><%= ten_title %></div>
              </div>
              <span class="date">Apr.2015</span>
            </div>
            <div class="left">
              <div class="title"><%= ten_title %></div>
              <div class="detail"><%= ten_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li> 
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/11.png">
                <div class="curtain"><%= eleven_title %></div>
              </div>
              <span class="date">Mar.2015</span>
            </div>
            <div class="left">
              <div class="title"><%= eleven_title %></div>
              <div class="detail"><%= eleven_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/12.png">
                <div class="curtain"><%= twelve_title %></div>
              </div>
              <span class="date">Feb.2015</span>
            </div>
            <div class="left">
              <div class="title"><%= twelve_title %></div>
              <div class="detail"><%= twelve_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/13.png">
                <div class="curtain"><%= thirteen_title %></div>
              </div>
              <span class="date">Jan.2015</span>
            </div>
            <div class="left">
              <div class="title"><%= thirteen_title %></div>
              <div class="detail"><%= thirteen_detail %></div>
            <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
             <div class="screen">
                <img src="/static/assets/page-views/about/milestones/14.png">
                <div class="curtain"><%= fourteen_title %></div>
              </div>
              <span class="date">Nov.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= fourteen_title %></div>
              <div class="detail"><%= fourteen_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/15.png">
                <div class="curtain"><%= fifteen_title %></div>
              </div>
              <span class="date">Nov.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= fifteen_title %></div>
              <div class="detail"><%= fifteen_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/16.png">
                <div class="curtain"><%= sixteen_title %></div>
              </div>
              <span class="date">Oct.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= sixteen_title %></div>
              <div class="detail"><%= sixteen_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/17.png">
                <div class="curtain"><%= seventeen_title %></div>
              </div>
              <span class="date">Oct.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= seventeen_title %></div>
              <div class="detail"><%= sixteen_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/18.png">
                <div class="curtain"><%= eighteen_title %></div>
              </div>
              <span class="date">Sept.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= eighteen_title %></div>
              <div class="detail"><%= eighteen_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/19CoreOS.png">
                <div class="curtain"><%= nineteen_title %></div>
              </div>
              <span class="date">Sept.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= nineteen_title %></div>
              <div class="detail"><%= nineteen_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/20.png">
                <div class="curtain"><%= twenty_title %></div>
              </div>
              <span class="date">Aug.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= twenty_title %></div>
              <div class="detail"><%= twenty_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/21.png">
                <div class="curtain"><%= twentyone_title %></div>
              </div>
              <span class="date">Jul.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= twentyone_title %></div>
              <div class="detail"><%= twentyone_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/22.png">
                <div class="curtain"><%= twentytwo_title %></div>
              </div>
              <span class="date">May.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= twentytwo_title %></div>
              <div class="detail"><%= twentytwo_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/23.png">
                <div class="curtain"><%= twentythree_title %></div>
              </div>
              <span class="date">Jan.2014</span>
            </div>
            <div class="left">
              <div class="title"><%= twentythree_title %></div>
              <div class="detail"><%= twentythree_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/24.png">
                <div class="curtain"><%= twentyfour_title %></div>
              </div>
              <span class="date">Oct.2013</span>
            </div>
            <div class="left">
              <div class="title"><%= twentyfour_title %></div>
              <div class="detail"><%= twentyfour_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
          <li class="journey">
            <div class="right">
              <div class="screen">
                <img src="/static/assets/page-views/about/milestones/25.png">
                <div class="curtain"><%= twentyfive_title %></div>
              </div>
              <span class="date">Feb.2013</span>
            </div>
            <div class="left">
              <div class="title"><%= twentyfive_title %></div>
              <div class="detail"><%= twentyfive_detail %></div>
              <div class="extend"><span class="out"><%= unfold %>&nbsp;<i class="icon-arrow-down"></i></span><span class="over"><%= pack_up %>&nbsp;<i class="icon-arrow-up"></i></span></div>
            </div>
          </li>
        </ul>
      </div>
      </section>
    </article>
<%- include('../../../../components/footer.ejs') %>