<%- include('../../components/header.ejs') %>
  <div class="volcano-support-uos3">
    <article >
      <!-- banner -->
      <section class="content-banner">
        <div class="wraper">
          <div class="volcano-common-content">
            <img src="/static/assets/docs-views/bannerpic@v2.0.png">
            <div class="word">
              <div class="word-title"><%= banner_title %></div>
              <div class="word-brief"><%= banner_brief %></div>
              <div class="word-describe"><%= banner_describe %></div>
            </div>
            <ul class="breadcrumb">
              <li class="first"><a class="firstpage" href="/"><%= breadcrumb_one %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/private-cloud/private-service"><%= breadcrumb_two %></a>&nbsp;/&nbsp;</li>
              <li class="second"><a class="success" href="/blog?page=1"><%= breadcrumb_three %></a>&nbsp;/&nbsp;</li>
              <li class="third"><%= breadcrumb_four %></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- end for banner -->
      <!-- content -->
      <section class="content-main">
        <div class="volcano-common-content">
          <ul class="docs">
            <% for(var i = 0; i < docs.length; i++) { %>
              <li>
                <span class="wrap">
                  <img src="<%= docs[i].logo ? docs[i].logo : '/static/assets/docs-views/icon-halo.png' %>" class="picture"></img>
                  <span class="name"><%= docs[i].name %></span>
                </span>
                <p class="introduction"><%= docs[i].introduction %></p>
                <% if (/(.pdf)$/.test(docs[i].pdf)) { %>
                  <span class="download"><a href="/docs/<%= docs[i].url %>/<%= docs[i].pdf %>"><i class="iconone"></i><%= pdf_download %></a></span>
                <% } %>
                <span class="preview"><a href="/docs/<%= docs[i].url %>"><i class="icontwo"></i><%= preview_online %></a></span>
              </li>
            <% } %>
          </ul>
        </div>
      </section>
      <!-- end for content -->
    </article>
  </div>
  <!-- <div class="curtain-uos3">
    <div class="curtain">
      <img src="/static/assets/docs_views/icon-limits.png">
      <div class="close"><img src="/static/assets/docs_views/icon-flip.png"></div>
      <p class="err"><%= no_authority %></p>
    </div>
  </div> -->
<%- include('../../components/footer.ejs') %>